  <% @blogposts.each_with_index do |blogpost, index| %>

        <% if index.odd? %>
          <div class="container mb-4 containerbgblogpost">
            <div class="d-flex flex-row-reverse postlineodd">
              <div class="postimagezone">
                <div class="postcirclelayerright">
                  <%if blogpost.photos.attached?%>
                        <%= cl_image_tag blogpost.photos.first.key, style:"margin-left:-25%"%>
                  <%else%>
                    <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", alt: "Pas d'image disponible", style:"width:100%;height:100%;")  %>
                  <%end%>
                </div>
              </div>
              <div class="blopostcontent">
                <h2 style="margin-left:1vw;font-size:larger"><%= blogpost.title %></h2>
                <p class="blogposttext"><%= blogpost.content %></p>
              </div>
            </div>
          </div>
        <% else %>
          <div class="container mb-4 containerbgblogpost">
            <div class="d-flex flex-row postlineeven"  >
              <div class="postimagezone">
                <div class="postcirclelayerleft">
                  <%if blogpost.photos.attached?%>
                    <%= cl_image_tag blogpost.photos.first.key, style:"margin-left:-25%;" %>
                  <%else%>
                    <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", alt: "Pas d'image disponible", style:"width:100%;height:100%")  %>
                  <%end%>
                </div>
              </div>
              <div class="blopostcontent" >
                <h2 style="margin-left:1vw;font-size:larger"><%= blogpost.title %></h2>
                <p class="blogposttext"><%= blogpost.content %></p>
              </div>
            </div>
          </div>
        <% end %>

      <% if current_user && current_user.admin %>
        <div style="display:flex;justify-content:center;width:50vw;margin:0 auto">
          <p><%= link_to "Modifier", edit_blogpost_path(blogpost), class: "btn btn-warning m-3" %></p>

          <p><%= link_to "Supprimer", blogpost, data: { turbo_method: :delete }, class: "btn btn-danger m-3" %></p>
        </div>
      <%end%>


  <% end %>
