<div class="container"
     style="justify-content:center;padding-bottom:20vh;">
  <h1 class="legalh2"
      style="padding-top:15vh;text-align:center;">
      Mentions légales
  </h1>
    <br>
    <p>En vigueur au 19/12/2022</p>
    <p>
    Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575
    du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N.,
    il est porté à la connaissance des utilisateurs et visiteurs, ci-après
    l' "Utilisateur", du site WWW.TEST.COM , ci-après le "Site", les présentes
    mentions légales.
    <br>
    La connexion et la navigation sur le Site par l’Utilisateur implique
    acceptation intégrale et sans réserve des présentes mentions légales.
    <br>
    Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».
    </p>
  <h2 class="legalh2">ARTICLE 1 - L'EDITEUR</h2>
    <p>
    L'édition du Site est assurée par <%=Shop.first.name%> <%=Shop.first.juridicform%>
    au capital de <%=Shop.first.capitalisation%> euros, immatriculée au Registre
    du Commerce et des Sociétés de <%=Shop.first.localregister%> sous le numéro
    <%=Shop.first.siren%> dont le siège social est situé au <%=Shop.first.address%>,
    <ul>
      <li>Numéro de téléphone <%=Shop.first.phone%>,</li>
      <li>Adresse e-mail : <%=Shop.first.email%></li>
      <li>N° de TVA intracommunautaire : <%=Shop.first.uetva%></li>
      <li>Le Directeur general est <%=Shop.first.president%>, ci-après l'"Editeur".</li>
    </ul>
    <p>
  <h2 class="legalh2">ARTICLE 2 - L'HEBERGEUR</h2>
    <p>
    L'hébergeur du Site est la société OVH, dont le siège social est situé au 2 rue
    Kellermann - 59100 Roubaix
      <ul>contact:
        <li>téléphone : 09 72 10 10 07</li>
        <li>site internet :
        <a href="https://www.ovhcloud.com/fr/lp/request-ovhcloud-registered-domain/"></a></li>
      </ul>
    </p>
  <h2 class="legalh2">ARTICLE 3 - ACCES AU SITE</h2>
    <p>
    Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure,
    interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.
    <br>
    En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait
    être tenu responsable.
    </p>
  <h2 class="legalh2">ARTICLE 4 -COLLECTE DES DONNEES</h2>
    <p>
    Le Site assure à l'Utilisateur une collecte et un traitement d'informations
    personnelles dans le respect de la vie privée conformément à la loi n°78-17 du
    6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
    <br>
    En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978,
    l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et
    d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
    <ul>
      <li>par mail à l'adresse email <a href="mailto:contact@monsite.fr"><%=Shop.first.email%></a></li>
      <li>par voie postale au <%=Shop.first.address%>.</li>
    </ul>
    <br>
    <p>
    Toute utilisation, reproduction, diffusion, commercialisation, modification
    de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra
    entraînée des actions et poursuites judiciaires telles que notamment prévues par
    le Code de la propriété intellectuelle et le Code civil.
    </p>
</div>
