<div class="container"
     style="padding-top:10vh;background-color:<%=Shop.first.themebgcolor%>;">
  <div class="row mt-2">
    <div class="col ms-5">
      <h2><%= @shop.name %></h2>
      <p><%= @shop.description %></p>
      <p>Adresse de contact : <%= @shop.address %> - France</p>
    </div>
  </div>
    <div class="d-flex justify-content-center">
      <div class="col-md-8 mt-2 ">
        <h4 style="text-align:center">
          Une question ? Contactez-nous!
        </h4>
        <%= simple_form_for(@contact) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form-inputs">
            <%= f.input :first_name, label: "Prénom", label_html:{ class:"labelcolor" } %>
            <%= f.input :last_name, label: "Nom", label_html:{ class:"labelcolor" } %>
            <%= f.input :email, label: "Email", label_html:{ class:"labelcolor" } %>
            <%= f.input :content, label: "Message", label_html:{ class:"labelcolor" }, input_html:{class:"contactarea"}%>
          </div>
          <div class="form-actions d-flex justify-content-center",
              style="margin-bottom:10vh;">
              <%= f.button :submit,
                  class:"btn btn-dark",
                  value:"Envoyer votre message"
              %>
          </div>
        <% end %>
      </div>
    </div>
</div>
