<div class="container mt-5" >
  <div class="row justify-content-center ">
    <div class="log-formulaire col-xs-10 col-lg-6 col-xl-4 p-4">
      <h2 style="text-align:center">Renvoyer les instructions de deverouillage</h2>

        <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :unlock_token %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions d-flex justify-content-center">
            <%= f.button :submit, "Renvoyez" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
