<section class="sectionbanner" data-controller="auto-scroll-banner">
  <h2 style="display:none">Oeuvres disponible à la vente défilant de haut en bas sur 3 colonnes</h2>
  <div id="mainbannerautoscroll">
    <div>
      <% @products.shuffle.each do |product| %>
        <% if product.photos.attached? %>
          <%= link_to product_path(product), data: { turbolinks_action: 'replace' } do%>
            <%= cl_image_tag product.photos.first.key, alt: product.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div>
      <% @products.shuffle.each do |product| %>
        <% if product.photos.attached? %>
          <%= link_to product_path(product), data: { turbolinks_action: 'replace' } do%>
            <%=cl_image_tag product.photos.first.key, alt: product.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div>
      <% @products.shuffle.each do |product| %>
        <% if product.photos.attached? %>
          <%= link_to product_path(product), data: { turbolinks_action: 'replace' } do%>
            <%=cl_image_tag product.photos.first.key, alt: product.name%>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</section>

