<% cache product do %>

  <div class="col col-sm-9 col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="radius-bottom">

      <div class="card-trip radius-top" style="box-shadow: 5px 5px 5px rgb(211,211,211);">
        <% if product.photos.attached? %>
          <%= link_to product_path(product), class:"d-flex justify-content-center" do %>
            <%= cl_image_tag product.photos.first.key, height: 300, width: 400, crop: :fill %>
          <%end%>
        <%else %>
          <%= link_to product_path(product), class:"d-flex justify-content-center" do %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="no_images_available" >
          <%end%>
        <% end %>

      </div>

      <div class="card-trip-infos card-color radius-bottom" style="box-shadow: 5px 5px 5px rgb(211,211,211)">

        <div>
          <h3 style="padding-top:2vh;margin-left:2vh;"><%= product.name %></h3>
          <%if product.description.length > 90 %>
            <p style="height: 6vh;margin-left:2vh;font-size:smaller;"><%= product.description.first(120)%>[...]</p>
          <%else%>
            <p style="height: 6vh;margin-left:2vh;font-size:smaller;"><%= product.description%></p>
          <%end%>
        </div>

        <div style="text-align:right">

          <%# SI IL EXISTE UN PRIX PROMO %>
          <%if product.discount_price_cents != 0%>

            <%# PRIX DE BASE BARRE %>
            <%if humanized_money_with_symbol(product.price).include?(",") %>
              <span style="text-align:end;font-weight:bolder;font-size:24px;text-decoration:line-through;"><%= humanized_money_with_symbol(product.price)[/^(.+?),/]%></span>
              <span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-8px;text-decoration:line-through;"><%= humanized_money_with_symbol(product.price).last(2)%> ttc</span>
            <%else %>
              <span style="text-align:right;font-weight:bolder;font-size:24px;text-decoration:line-through;"><%= humanized_money_with_symbol(product.price)%>,</span><span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-4px">  00 ttc</span>
            <%end%>

            <%# PRIX PROMO %>
            <%if humanized_money_with_symbol(product.discount_price_cents/100).include?(",") %>
              <span style="text-align:end;font-weight:bolder;font-size:24px;color:green;"><%= humanized_money_with_symbol(product.discount_price_cents/100)[/^(.+?),/]%></span>
              <span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-8px;color:green;"><%= humanized_money_with_symbol(product.discount_price_cents/100).last(2)%> ttc</span>
            <%else %>
              <span style="text-align:right;font-weight:bolder;font-size:24px;color:green;"><%= humanized_money_with_symbol(product.discount_price_cents/100)%>,</span><span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-4px;color:green">  00 ttc</span>
            <%end%>

          <%else%>
            <%# SINON PRIX NORMAL SEULEMENT %>
            <%if humanized_money_with_symbol(product.price).include?(",") %>
              <span style="text-align:end;font-weight:bolder;font-size:24px;"><%= humanized_money_with_symbol(product.price)[/^(.+?),/]%></span>
              <span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-8px;"><%= humanized_money_with_symbol(product.price).last(2)%> ttc</span>
            <%else %>
              <span style="text-align:right;font-weight:bolder;font-size:24px;"><%= humanized_money_with_symbol(product.price)%>,</span><span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-4px">  00 ttc</span>
            <%end%>
          <%end%>
        </div>

        <div class="d-flex-column", style="text-align:center">
          <%= button_to "ajouter au panier", line_items_path(product_id: product), class:"btn btn-success", remote: true %>
          <%= link_to "Plus de détails", product_path(product), class: "btn btn-primary mt-2 mb-2" %>
        </div>

      </div>

    </div>
  </div>

<%end%>
