
  <div class="c6-fullcard">
    <%# NE RIEN METTRE ICI %>
    <%= link_to product_path(product), data: { turbolinks_action: 'replace' } do%>
      <div class="c6-imagediv">
        <% cache product do %>
          <% if product.photos.attached? %>
              <%= cl_image_tag product.photos.first.key, class:"c6-image"%>
          <%else %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                  class="c6-image"
                  alt="Pas d'image disponible" >
          <%end%>
        <%end%>
        <%if product.discount_price_cents.positive? %>
          <p class="c6-promoflash"><%=(((product.discount_price_cents.to_f - product.price_cents.to_f) / product.price_cents.to_f) * 100).round().to_s.gsub(/\./, ',')%>%</p>
        <%end%>
      </div>
      <div class="c6-bloccentral" style="position:relative">
          <div class="favabsolute">
            <%# si le user est connecté %>
            <% if user_signed_in?%>
              <%# si le produit est déjà enregistré dans les favoris, le coeur est rouge et pointe vers action fav %>
              <% if Favorite.find_by(user: current_user, product: product) != nil  %>
                <a class="fa-regular fa-heart c6-favorite fav-red"
                  data-action='click->favorites#fav'
                  data-favorites-product-id-param="<%= product.id %>"></a>
              <% else %>
                <%# sinon le coeur est noir et pointe vers action fav  %>
                <a class="fa-regular fa-heart c6-favorite fav-black"
                  data-action='click->favorites#fav'
                  data-favorites-product-id-param="<%= product.id %>"></a>
              <% end %>
            <% else %>
              <%# pas de user connecté --> le coeur est noir et pointe vers action redirect %>
              <a class="fa-regular fa-heart c6-favorite fav-black"
                data-action= 'click->favorites#redirect'
                data-favorites-product-id-param="<%= product.id %>"></a>
            <% end %>
          </div>
        <div class="c6-descriptiondiv">
          <%if product.name.length > 20%>
            <p class="c6-fontsize c6-productname" ><%= product.name[0..20] %>...</p>
          <%else%>
            <p class="c6-fontsize c6-productname" ><%= product.name %></p>
          <%end%>
            <p class="product-details"><%=product.width%>x<%=product.height%>cm</p>
          <div class="c6-pricearea">
            <%if product.discount_price_cents.positive? %>
              <%# PRIX DE BASE BARRE %>
              <div style="display:grid">
                <div style="display:flex">
                  <span class="c6-fontsize c6-offprice"><%=(product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[1]%>,</span>
                  <span class="c6-fontsizebis c6-offprice00" >
                    <% if (product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3].size == 1 %>
                      <%=(product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3]%>0 €
                    <% else %>
                      <%=(product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3]%> €
                    <% end%>
                  </span>
                </div>
              </div>
              <%# PRIX PROMO %>
              <div style="display:grid">
                <div style="display:flex">
                  <span class="c6-promo"><%=(product.discount_price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[1]%>,</span>
                  <span class="c6-promo">
                    <% if (product.discount_price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3].size == 1 %>
                      <%=(product.discount_price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3]%>0 €
                    <% else %>
                      <%=(product.discount_price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3]%> €
                    <% end%>
                </div>
              </div>
            <%else%>
              <%# SINON PRIX NORMAL SEULEMENT %>
              <span class="c6-fontsize c6-font "><%=(product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[1]%>,</span>
              <span class="c6-fontsizebis c6-font c6-fontpromobis" >
                <% if (product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3].size == 1 %>
                  <%=(product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3]%>0 €
                <% else %>
                  <%=(product.price_cents / 100.00).to_s.match(/^(\d+)(\.)(\d+)$/)[3]%> €
                <% end%>
              </span>
            <%end%>
          </div>
        </div>
      </div>
      <div class="c6-toutformats">
        <%= link_to "Tous les formats", product_path(product), style:"color:black;text-decoration:underline" %>
      </div>
    <%end%>
  </div>
