<div style="text-align:center;font-style:italic;">
  <%if current_user.first_name == nil %>
    <h1 class="pt-5">Bienvenue <%= current_user.email %></h1>
  <%elsif current_user.first_name != nil%>
    <h1 class="pt-5">Bienvenue <%= current_user.first_name %></h1>
  <%else%>
    <h1 class="pt-5">Bienvenue</h1>
  <%end%>
</div>

<div class="global_stat_circles_area">
  <div class="statcircle">
  <h3 class="circlestath3"><%= @admin_paid_orders.count %></h3>
    <p class="circlestatp">
      <%= @admin_paid_orders.count > 1 ? "Commandes en cours" : "Commande en cours" %>
    </p>
  </div>
  <div class="statcircle">
    <h3 class="circlestath3"><%= @admin_delivered_orders.count %></h3>
    <p class="circlestatp">
      <%= @admin_delivered_orders.count > 1 ? "Commandes terminées" : "Commande terminée" %>
    </p>
  </div>
  <div class="statcircle">
    <h3 class="circlestath3"><%= @turnover.sum %></h3>
    <p class="circlestatp">€ TTC de C.A généré</p>
  </div>
</div>




<div class="mt-3">
  <% if current_user.admin == false %>
    <%if !@my_pending_orders.empty? %>
      <div >
        <%=render "orders/pending"%>
      </div>
    <%end%>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="tab-link active margin-right" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Commandes en cours</button>
        <button class="tab-link margin-left" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Commandes passées</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="height:40vh;overflow:auto">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%= render "my-paid-orders", my_paid_orders: @my_paid_orders %>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <%= render "my-delivered-orders", my_delivered_orders: @my_delivered_orders %>
      </div>
    </div>
  <% else %>
    <%# <p> Je suis le gérant, j'ai accès aux commandes de tous les clients</p> %>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="tab-link active margin-right" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Commandes en cours</button>
        <button class="tab-link margin-left" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Commandes passées</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%= render "admin-paid-orders", admin_paid_orders: @admin_paid_orders %>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <%= render "admin-delivered-orders", admin_delivered_orders: @admin_delivered_orders %>
      </div>
    </div>
  <% end %>
