<%if Shop.first.footer.key %>
  <div class="footer mt-auto text-center"
       style="background-image: url('<%= cl_image_path Shop.first.footer.key %>')">
<%else%>
  <div class="footer mt-auto text-center"
       style="background:rgb(180,120,140)">
<%end%>
  <div style="margin-top:12vh">
    <ul style="list-style:none">
      <li>
        <div class="d-flex justify-content-center footer-links">
          <a href="#" target="_blank"><i class="textourwhite fab fa-instagram"></i></a>
          <p>- <%=Shop.first.name%> -</p>
          <a href="#" target="_blank"><i class="textourwhite fab fa-facebook"></i></a>
        </div>
      </li>
      <li>
        <p>- <%=Shop.first.address%> -</p>
      </li>
      <li>
        <%# <p>Horaires et contact</p> %>
        <%= link_to "- Horaires et contacts -", shop_path(Shop.first) , class:"white_deco_none"%>
      </li>
    </ul>
  <div>
    <ul>
      <li class="mentionslegales"><%= link_to "Conditions générales de ventes", shops_cgv_path , class:"white_deco_none"%></li>
      <li class="mentionslegales"><%= link_to "Mentions legales", shops_legal_path , class:"white_deco_none"%></li>
    </ul>
  </div>
  </div>
</div>
