<%# //////////////// PERMET DE PLACER LA NAVBAR SOUS LA PUB SI IL Y A PUB /////////////// %>
<%if Shop.first.bannerpub != "" && Shop.first.bannerpub != nil %>
  <main class="navfixedwithbanner">
<%else%>
  <main class="navfixed">
  <%end%>
  <nav class="navbar d-flex"
       style="width: 100vw;max-height:10vh;background:white;"
       aria-label="Light offcanvas navbar">
    <%# ////////////////BOUTON CATEGORIE LORSQUE DISPLAY SMARTPHONE /////////////////%>
    <div class="displaybtncategories",
         data-controller="category",
         style="margin:0 auto",
         data-action="click->category#slidecategorymenu">
         <i class="fa-solid fa-bars"></i>
      <%# <img src="http://cdn.onlinewebfonts.com/svg/img_87908.png",
           style="border:2px solid grey;border-radius:5px;height:40px;"> %>
    </div>
    <%# ////////BOUTON HOME ///////////// %>
    <div class="homelogo",
         data-controller="category",
         style="margin:0 auto",
         data-action="mouseleave->category#homebuttonrestore">
      <%= link_to "/" do%>
        <%if Shop.first.logo.key %>
          <%= cl_image_tag Shop.first.logo.key, style:"max-height:8vh;max-width:100%;margin:0 auto" %>
        <%else%>
          <i class="fa-solid fa-house btnhome",
             style="color:black;display:flex",
             data-controller="category",
             data-action="mouseover->category#homebuttondeploy">
             <span id="homebutton"
                   class="deploy_home_icon">
                   HOME
             </span>
          </i>
        <%end%>
      <%end%>
    </div>
    <%# BOUTON BLOG %>
    <div class="blognavbar">
      <p style="display:flex;align-items:center;margin:0 auto;">
        <%= link_to "BLOG",
            blogposts_path,
            style:'display:flex;align-items:center'
        %>
      </p>
    </div>
    <%# ////////////barre de recherche/////////////////// %>
    <div id="mobile-input-search"
         class="responsivesearchbar"
         style="margin:0 auto">
      <%= render "search/form" %>
    </div>
    <%# Bouton de recherche pour mobile %>
    <div class="mobileglassdiv">
      <i id="mobile-magnifying-glass",
         style="margin:0 auto",
         class="fa-solid fa-magnifying-glass",
         data-controller="search",
         data-action="click->search#displayMobileSearchInput"></i>
    </div>
    <%# /////////////////PANIER///////////////// %>
    <div class="btncart",
         data-controller="panier",
         data-action="click->panier#updatePanier2">
      <i class="fa-solid fa-cart-shopping", style="color:black; font-size: 2.3vh;"></i>
        <%if @cart.line_items.count.positive? %>
          <div class="circle_items_count">
            <div style="margin:-7px -3px;">
              <% cartcontent = [] %>
              <%@cart.line_items.each do |item|%>
                <%cartcontent << item.quantity %>
              <%end%>
              <%=cartcontent.sum%>
            </div>
          </div>
        <%end%>
    </div>
    <%# ////////////////////////// MENU DEROULANT BOOTSTRAP //////////////////  %>
    <div class="profile_div"
         style="margin:0 auto">
      <button class="profilebutton"
              type="button"

              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbarLight"
              aria-controls="offcanvasNavbarLight">
        <%if current_user%>
          <i class="fa-solid fa-user-check"></i>
        <%else%>
          <i class="fa-regular fa-user"></i>
        <%end%>
        <%# <span class="navbar-toggler-icon"></span> %>
      </button>
      <div id="offcanvasNavbarLight"
           class="offcanvas offcanvas-end"
           style="margin:0 auto"
           tabindex="-1"
           aria-labelledby="offcanvasNavbarLightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasNavbarLightLabel"
              class="offcanvas-title">Menu
          </h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close">
          </button>
        </div>
        <div class="offcanvas-body"
             style="display:block;line-height:4rem">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <%if current_user && current_user.admin? %>
              <li class="nav-link active btn btn-warning" >
                <%= link_to "AJOUTER UN PRODUIT",
                    new_product_path,
                    class:"white_deco_none"%>
              </li>
            <%end%>

            <%if !current_user %>
              <li class="nav-item">
                <%= link_to "Connexion",
                    new_user_session_path,
                    style:"text-decoration:none;"%>
              </li>
            <%end%>
            <li class="nav-item active">
              <%if current_user && current_user.admin? %>
                <%= link_to "Gestion des stocks",
                    stockmanagement_path,
                    style:"text-decoration:none;"%>
              <%else%>
                <%= link_to "Tous les produits",
                    products_path,
                    style:"text-decoration:none;"%>
              <%end%>
            </li>
            <li class="nav-item">
              <%= link_to "Horaires et contacts", shop_path(Shop.first) ,
                  style:"text-decoration:none;"%>
            </li>
            <%if current_user%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   style="text-decoration:none; color:blue;"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                  Mon compte
                </a>
                <ul class="dropdown-menu"
                    style="border-left:none; border-right:none;">
                  <li class="pl-3 pr-3 mt-2 dropdown-item">
                    <%= link_to "Tableau de bord",
                        profile_path,
                        style:"text-decoration:none;"
                    %>
                  </li>
                  <li class="pl-3 pr-3 mt-2 dropdown-item">
                    <%= link_to "Déconnexion",
                        destroy_user_session_path,
                        'data-turbo-method': :delete,
                        style:"text-decoration:none;"
                    %>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul>
              </li>
            <%if current_user && current_user.admin? %>
              <li class="nav-link active btn btn-warning" >
                <%= link_to "(BETA) AJOUTER UN PRODUIT CHEMIN COMPLET CAT SUBCAT PRODUCT (TEST)",
                    categories_path,
                    style:"text-decoration:none;color:yellow;background:red;"
                %>
              </li>
            <%end%>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </nav>
    <%= render "shared/categories_and_subcategories" %>
</main>
