<%# //////////////// PERMET DE PLACER LA NAVBAR SOUS LA PUB SI IL Y A PUB /////////////// %>
<%if Shop.first.bannerpub != "" && Shop.first.bannerpub != nil %>
  <main class="navfixedwithbanner">
<%else%>
<main class="navfixed">
  <%end%>
  <nav class="navbar bg-light d-flex" aria-label="Light offcanvas navbar">
    <%# <div class="container-fluid"> %>


    <%# ////////////////BOUTON CATEGORIE LORSQUE DISPLAY SMARTPHONE /////////////////%>
    <div class="displaybtncategories", data-controller="category", data-action="click->category#slidecategorymenu">
      <img src="http://cdn.onlinewebfonts.com/svg/img_87908.png", style="border:2px solid grey;border-radius:5px;height:40px;">
    </div>

    <%# ////////BOUTON HOME ///////////// %>
    <div data-controller="category", data-action="mouseleave->category#homebuttonrestore">
      <%= link_to "/" do%>
          <i class="fa-solid fa-house btnhome", style="color:grey", data-controller="category", data-action="mouseover->category#homebuttondeploy"><span id="homebutton" class="deploy_home_icon">HOME</span></i>
      <%end%>
    </div>


    <%# ////////////barre de recherche/////////////////// %>
    <div class="responsivesearchbarplacesmall">
      <%= render "search/form" %>
    </div>



    <%# /////////////////PANIER///////////////// %>
    <div class="btncart", data-controller="panier", data-action="click->panier#updatePanier2">
      <i class="fa-solid fa-cart-shopping", style="color:gray"></i>
        <%if @cart.line_items.count > 0%>
          <div class="circle_items_count">
            <div style="margin:-7px -3px;">
              <% cartcontent = [] %>
              <%@cart.line_items.each do |item|%>
              <%cartcontent << item.quantity %>
              <%end%>
              <%=cartcontent.sum%>
            </div>
          </div>
        <%end%>
    </div>


    <%# ////////////////////////// MENU DEROULANT BOOTSTRAP //////////////////  %>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="display:block;line-height:4rem">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <%if current_user && current_user.admin? %>
              <li class="nav-link active btn btn-warning" >
                <%= link_to "AJOUTER UN PRODUIT", new_product_path, style:"text-decoration:none;color:white;"%>
              </li>
            <%end%>


            <%if !current_user %>
              <li class="nav-item">
                <%= link_to "Connexion", new_user_session_path, style:"text-decoration:none;"%>
              </li>
            <%end%>
            <li class="nav-item active">
            <%if current_user && current_user.admin? %>
              <%= link_to "Gestion des stocks", products_path, style:"text-decoration:none;"%>
            <%else%>
              <%= link_to "Tous les produits", products_path, style:"text-decoration:none;"%>
            <%end%>
            </li>
            <li class="nav-item">
              <%= link_to "Horaires et contacts", shop_path(Shop.first) , style:"text-decoration:none;"%>
            </li>
            <%if current_user%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="text-decoration:none; color:blue;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mon compte
                </a>
                <ul class="dropdown-menu" style="border-left:none; border-right:none;">
                  <li class="pl-3 pr-3 mt-2 dropdown-item"><%= link_to "Tableau de bord", profile_path, style:"text-decoration:none;"%></li>
                  <li class="pl-3 pr-3 mt-2 dropdown-item"><%= link_to "Déconnexion", destroy_user_session_path,'data-turbo-method': :delete, style:"text-decoration:none;"%></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul>
              </li>
            <%if current_user && current_user.admin? %>
              <li class="nav-link active btn btn-warning" >
                <%= link_to "(BETA) AJOUTER UN PRODUIT CHEMIN COMPLET CAT SUBCAT PRODUCT (TEST)", categories_path, style:"text-decoration:none;color:yellow;background:red;"%>
              </li>
            <%end%>
            <%end%>
          </ul>
        </div>
      </div>
    </div>

    <div class="responsivesearchbarplacebig">
      <%= render "search/form" %>
    </div>
  </nav>
    <%= render "shared/categories_and_subcategories" %>
</main>
