<main class="navfixed">
 <nav class="navbar bg-light " aria-label="Light offcanvas navbar">
    <div class="container-fluid">
      <%= link_to "ACCEUIL", "/", class:"navbar-brand btn btn-dark", style:"color:white;text-decoration:none;"%>

      <div class="btn btn-primary", data-controller="panier", data-action="click->panier#updatePanier2">PANIER
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="display:block;line-height:4rem">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <%if current_user && current_user.admin? %>
              <li class="nav-link active btn btn-warning" >
                <%= link_to "AJOUTER UN PRODUIT", new_product_path, style:"text-decoration:none;color:white;"%>
              </li>
            <%end%>
            <%if !current_user %>
              <li class="nav-item">
                <%= link_to "Connexion", new_user_session_path, style:"text-decoration:none;"%>
              </li>
            <%end%>
            <li class="nav-item active">
              <%= link_to "Tous les produits", products_path, style:"text-decoration:none;"%>
            </li>
            <%if current_user %>
            <li class="nav-item">
              <%= link_to "Panier", "/", style:"text-decoration:none;"%>
            </li>
            <%end%>
            <li class="nav-item">
              <%= link_to "Horaires et contacts", shop_path(Shop.first) , style:"text-decoration:none;"%>
            </li>
            <%# <li class="nav-link active"> %>
              <%# if current_user && current_user.admin? %>
                <%# if Shop.count > 0%>
                  <%# if Shop.first.schedules.any? %>
                    <%# path de modifier les horaires à réparer %>
                    <%#= link_to "Modifier les Sdonnées du magasin", edit_shop_path(Shop.first), style:"text-decoration:none;"%>
                  <%# else %>
                    <%#= link_to "Ajouter mes horaires d'ouverture", new_shop_path, style:"text-decoration:none;"%>
                  <%# end %>
                <%# else %>
                  <%#= link_to "Créer mon magasin", new_shop_path, style:"text-decoration:none;"%>
                <%# end %>
              <%# end %>
            <%if current_user%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="text-decoration:none; color:blue;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mon compte
                </a>
                <ul class="dropdown-menu" style="border-left:none; border-right:none;">
                  <li class="pl-3 pr-3 mt-2 dropdown-item"><%= link_to "Mes commandes", profile_path, style:"text-decoration:none;"%></li>
                  <li class="pl-3 pr-3 mt-2 dropdown-item"><%= link_to "Modifier mot de passe", edit_user_password_path, style:"text-decoration:none;"%></li>
                  <li class="pl-3 pr-3 mt-2 dropdown-item"><%= link_to "Deconnexion", destroy_user_session_path,'data-turbo-method': :delete, style:"text-decoration:none;"%></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/contacts/new">Formulaire de contact</a></li>
                </ul>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</main>
