<%# //////////////// PERMET DE PLACER LA NAVBAR SOUS LA PUB SI IL Y A PUB /////////////// %>
<%if Shop.first.bannerpub != "" && Shop.first.bannerpub != nil %>
<main class="navfixedwithbanner">
<%else%>
<main class="navfixed">
<%end%>
  <nav style=" padding-right: 1vw;padding-left: 1vw;width:100vw;height:50px;background:white;display:flex;">
    <%# HOME BUTTON %>
    <div style="display:flex;align-items: center;" class="homelogo">
    <%# ////////////////BOUTON CATEGORIE LORSQUE DISPLAY SMARTPHONE /////////////////%>

    <div class="displaybtncategories",
         data-controller="category",
         <%# style="margin:0 auto", %>
         data-action="click->category#slidecategorymenu">
      <i class="fa-solid fa-bars"></i>
    </div>
      <%if Shop.first.logo.key %>
    <div style="width:15%;overflow;hidden;">
        <div data-controller="category">
          <%= link_to "/" do%>
              <%= cl_image_tag Shop.first.logo.key, style:"max-height:50px;", class:"logomobile"%>
          <%end%>
        </div>
    </div>
      <%else%>
        <div data-controller="category", style="",data-action="mouseleave->category#homebuttonrestore">
          <%= link_to "/" do%>
            <span id="homebutton" style="background:red">HOME</span>
        </div>
          <%end%>
      <%end%>
    </div>
    <%# CATEGORIES %>
    <div class="widthzeroonmobile">
      <%= render "shared/categories_and_subcategories" %>
      </div>
    </div>
    <%# SEARCH BAR PANIER ET ACCOUNT %>
    <div class="searchandaction">
        <div id="mobile-input-search"
         class="responsivesearchbar"
         style="display:flex;align-items: center;">
      <%= render "search/form" %>
    </div>
    <%# Bouton de recherche pour mobile %>
    <div class="mobileglassdiv">
      <i id="mobile-magnifying-glass",
         style="",
         class="fa-solid fa-magnifying-glass",
         data-controller="search",
         data-action="click->search#displayMobileSearchInput"></i>
    </div>
    <%# ////////////////////////// MENU DEROULANT BOOTSTRAP //////////////////  %>
    <div class="profile_div" style="">
      <%= button_to profile_path, method: :get, class: "profilebutton", type: "submit" do %>
        <% if current_user %>
          <i class="fa-solid fa-user-check", style="color:black; font-size: 2.6vh;"></i>
        <% else %>
          <i class="fa-regular fa-user", style="color:black; font-size: 2.6vh;"></i>
        <% end %>
      <% end %>
    </div>
    <%# /////////////////PANIER///////////////// %>
    <div class="btncart", data-controller="display-cart", data-action="click->display-cart#showCart">
      <i class="fa-solid fa-cart-shopping", style="color:black; font-size: 2.9vh;"></i>
      <% if @cart.line_items.count.positive? %>
        <p class="circle_items_count">
            <%= @cartcontent%>
        </p>
      <% end %>
    </div>
    </div>
  </nav>
</main>
