<section style="width:100%;padding: 1.5rem;box-shadow: 0px 0px 2px 1px grey;">
  <div class="paiementallowed">
    <%= image_tag "paiement/Visa_Inc._logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/Mastercard-logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/logo-cb-colored.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/American_Express_logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/Apple_Pay_logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/Google_Pay_Logo.svg", :style => "height:2rem;"%>
  </div>
</section>

<section class="reassurance_area">
  <div class="reassurance">
    <%= image_tag "reinsurrance/263133.png", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p style="text-align:center;font-size:larger">aucun cookies stockées, données personnels</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/CB.png", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p>Paiement sécurisé</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/livraison.png", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p>Livraison sous 7jours en France Metropolitaine</p>
  </div>
  <div class="reassurance">
    <%= image_tag "", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p style="text-align:center;font-size:larger">Zéro tracking de vos recherches</p>
  </div>
  <div class="reassurance">
    <%= image_tag "", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p>Zéro vente de vos données personnelles</p>
  </div>
  <div class="reassurance">
    <%= image_tag "", :style => "max-height:70%;width:70%;margin-left:15%"%>
    <p>Zéro tracking publicitaire</p>
  </div>
</section>
  <p style="text-align:right"><i>Inspiré par le moteur de recherche QWANT</i></p>
