<section class="reassurancebis">
  <h3>Mode de paiement possible</h3>
  <div class="paiementallowed">
    <%= image_tag "paiement/Visa_Inc._logo.svg"%>
    <%= image_tag "paiement/Mastercard-logo.svg"%>
    <%= image_tag "paiement/logo-cb-colored.svg"%>
    <%= image_tag "paiement/American_Express_logo.svg"%>
    <%= image_tag "paiement/Apple_Pay_logo.svg"%>
    <%= image_tag "paiement/Google_Pay_Logo.svg"%>
  </div>
  <div>
    <figure><%= image_tag "reinsurrance/263133.png"%>
    <figcaption>Aucuns cookies tiers stockés</figcaption>
    </figure>

      <figure><%= image_tag "reinsurrance/CB.png"%>
    <figcaption>Paiement sécurisé</figcaption>
    </figure>

      <figure><%= image_tag "reinsurrance/livraison.png"%>
    <figcaption>Livraison rapide</figcaption>
    </figure>

      <figure><%= image_tag "reinsurrance/pngegg.png"%>
    <figcaption>Zéro tracking publicitaire</figcaption>
    </figure>

      <figure><%= image_tag "reinsurrance/pay-money-icon.svg"%>
    <figcaption>Zéro vente de vos données personnelles</figcaption>
    </figure>

      <figure><%= image_tag "reinsurrance/WWF_logo_2000.svg"%>
    <figcaption>5% des bénéfices net annuels reversés à la WWF</figcaption>
    </figure>
  </div>
</section>
