<section style="width:100%;padding: 1.5rem;box-shadow: 0px 0px 2px 1px grey;">
  <div class="paiementallowed">
    <%= image_tag "paiement/Visa_Inc._logo.svg"%>
    <%= image_tag "paiement/Mastercard-logo.svg"%>
    <%= image_tag "paiement/logo-cb-colored.svg"%>
    <%= image_tag "paiement/American_Express_logo.svg"%>
    <%= image_tag "paiement/Apple_Pay_logo.svg"%>
    <%= image_tag "paiement/Google_Pay_Logo.svg"%>
  </div>
</section>

<section class="reassurance_area">
  <div class="reassurance">
    <%= image_tag "reinsurrance/263133.png", :style => ""%>
    <p>aucun cookies stockées, données personnels</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/CB.png", :style => ""%>
    <p>Paiement sécurisé</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/livraison.png", :style => ""%>
    <p>Livraison rapide en France Metropolitaine*</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/pngegg.png", :style => ""%>
    <p>Zéro tracking publicitaire et zero tracking de vos recherches</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/pay-money-icon.svg", :style => ""%>
    <p>Zéro vente de vos données personnelles</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/WWF_logo_2000.svg", :style => ""%>
    <p>5% des benefices net annuels reversés à la WWF</p>
  </div>
</section>
