<section style="width:100%;padding: 1.5rem;box-shadow: 0px 0px 2px 1px grey;">
  <div class="paiementallowed">
    <%= image_tag "paiement/Visa_Inc._logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/Mastercard-logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/logo-cb-colored.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/American_Express_logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/Apple_Pay_logo.svg", :style => "height:2rem;"%>
    <%= image_tag "paiement/Google_Pay_Logo.svg", :style => "height:2rem;"%>
  </div>
</section>

<section class="reassurance_area">
  <div class="reassurance">
    <%= image_tag "reinsurrance/263133.png", :style => "height:50%;width:auto;margin:auto"%>
    <p>aucun cookies stockées, données personnels</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/CB.png", :style => "height:50%;width:automargin:auto;"%>
    <p>Paiement sécurisé</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/livraison.png", :style => "height:50%;width:auto;margin:auto"%>
    <p>Livraison rapide en France Metropolitaine*</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/pngegg.png", :style => "height:50%;width:auto;margin:auto"%>
    <p>Zéro tracking publicitaire et zero tracking de vos recherches</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/pay-money-icon.svg", :style => "height:50%;width:auto;margin:auto"%>
    <p>Zéro vente de vos données personnelles</p>
  </div>
  <div class="reassurance">
    <%= image_tag "reinsurrance/WWF_logo_2000.svg", :style => "height:50%;width:auto;margin:auto"%>
    <p>5% des benefices net annuels reversés à la WWF</p>
  </div>
</section>
  <p style="text-align:right"><i>Inspiré par le moteur de recherche QWANT</i></p>
