<%= link_to "Créer un nouvel article",
    new_blogpost_path,
    class:"btn btn-primary m-5"%>

<table style="width:100%">
  <tbody>
    <thead style="background:rgb(200,200,200);border-radius:5px;">
      <tr>
        <td style="width:15%"><p>Illustration</p>
        </td>
        <td style="width:50%"><p>Titre</p>
        </td>
        <td style="width:15%"><p>Date de création</p>
        </td>
        <td style="width:20%"><p>Actions</p>
        </td>
      </tr>
    </thead>
    <%@blogposts.each do |blogpost|%>
      <tr style="border-bottom:1px solid rgb(210,210,210)">
        <td style="width:100px;height:100px"><%= cl_image_tag blogpost.photos.first.key, style:"max-width:100%;max-height:100%" %>
        <td><%=blogpost.title%></td>
        <td><%=blogpost.created_at%></td>
        <td style="display:flex;justify-content:space-evenly;align-items:center;margin-top:25px">
          <%= link_to blogpost, data: { turbo_method: :delete, turbo_confirm: "Souhaitez-vous supprimer définitivement cet article?"} do %>
            <i class="fa-solid fa-circle-xmark" style="color:red;font-size:40px"></i>
          <%end%>
          <%= link_to edit_blogpost_path(blogpost) do %>
            <i class="fa-regular fa-pen-to-square" style="color:blue;font-size:40px"></i>
          <%end%>
        </td>
      </tr>
    <%end%>
  </table>
</tbody>
