<div class="row mx-1 my-2">
  <div class="col-12">
    <% if @admin_pending_orders.empty? %>
      <p>Vous n'avez pas de commandes en attente.</p>
    <% else %>
      <% @admin_pending_orders.each do |order| %>
        <div class="border-bottom my-2">
          <p><b>Commande n° <%= order.id %></b> - <small>Passée le <%= order.created_at.to_date %></small> </p>
          <p>N° client: <%= order.user_id%> - Contact client: <%= order.user.email %></p>
          <div class="row d-flex justify-content-between">
            <div class="col-sm-7">
              <% sub_total = [] %>
              <% order.items.each do |key, value|  %>
                <% sub_total << ((order.items[key]["quantity"]) * (order.items[key]["unit_amount"]) / 100.00)  %>
              <% end  %>
              <p><small>Montant : <%= sub_total.sum %> € TTC</small></p>
            </div>
            <div class="col-sm-3">
              <%= link_to order_path(order), class: "link-order-profile" do %>
                <p>Détails de la commande <i class="fa-solid fa-eye"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
