<%= simple_form_for(@shop) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :logo, as: :file, label: "Logo barre de navigation", label_html:{ class:"labelcolor" }  %>
    <%= f.input :card, collection: Shop::CARD, label:"Format carte produit", label_html:{ class:"labelcolor" } %>
    <%= f.input :banner, as: :file, label: "Bannière", label_html:{ class:"labelcolor" }  %>
    <%= f.input :leftbodybanner, as: :file, label: "Bannière évènement lateral gauche", label_html:{ class:"labelcolor" }  %>
    <%= f.input :rightbodybanner, as: :file, label: "Bannière évènement lateral droite", label_html:{ class:"labelcolor" }  %>
    <%= f.input :footer, as: :file, label: "Pied de page", label_html:{ class:"labelcolor" }  %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :themebgcolor, as: :color, input_html: { style:"width:200px;height:150px" }, label: "Couleur d'arrière-plan", label_html:{ class:"labelcolor" }  %>
    <%= f.input :themefont, collection: Shop::THEMEFONT,label: "Police d'écriture", label_html:{ class:"labelcolor" }  %>
    <%= f.input :bannerpub, label: "Bandeau Publicitaire (si champ vide : aucun bandeau)", label_html:{ class:"labelcolor" }  %>
  </div>
  <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, class:"btn btn-dark m-5", value:"Valider"%>
  </div>
<% end %>
