<%# MISE EN PAGE CENTRE %>
<h3 style="text-align:center">Simulateur d'intérieur</h3>
<p style="text-align:center"><i>Prenez une photo de votre intérieur et simuler la présence de l'oeuvre chez vous<i></p>
<%# <div style="display:flex;justify-content:center;margin-top:1rem"> %>

  <div id="frame_selector">
    <div id="noframe" class="vignettesalon" style="position:relative;background:rgb(185, 239, 210)" data-action="click->gallerie#noframe">
      <%= cl_image_tag @product.photos.first.key, style:"position:absolute;top:65%;margin-left:40%;width:7vw;height:auto"%>
      <p style="position:absolute;top:2%;margin-left:2%;width:96%;overflow:hidden">fine art<br>toile-chassis</p>

    </div>

    <div id="blackframepaddingwhite" class="vignettesalon" style="position:relative;background:rgb(206, 236, 248)"  data-action="click->gallerie#blackframepaddingwhite">
      <%= cl_image_tag @product.photos.first.key, style:"position:absolute;top:65%;margin-left:60%;width:7vw;height:auto;box-shadow: 0 0 0 10px white%>
      <p style="position:absolute;top:2%;margin-left:2%;width:96%;overflow:hidden">fine art<br>avec marge</p>
    </div>

    <div id="black_usa_box" class="vignettesalon" style="position:relative;background:rgb(247, 229, 203)"  data-action="click->gallerie#black_usa_box">
      <%= cl_image_tag @product.photos.first.key, style:"position:absolute;top:65%;margin-left:40%;width:7vw;height:auto;box-shadow: 0 0 0 5px rgb(32, 32, 32), 0 0 0 10px rgb(0, 0, 0);"%>
      <p style="position:absolute;top:2%;margin-left:2%;width:96%;overflow:hidden">canvas<br>caisse americaine<br>noire</p>
    </div>

    <div id="white_usa_box" class="vignettesalon" style="position:relative;background:rgb(185, 239, 210)"  data-action="click->gallerie#white_usa_box">
      <%= cl_image_tag @product.photos.first.key, style:"position:absolute;top:65%;margin-left:40%;width:7vw;height:auto;box-shadow: 0 0 0 5px rgb(255, 255, 255), 0 0 0 10px rgb(245, 245, 245);"%>
      <p style="position:absolute;top:2%;margin-left:2%;width:96%;overflow:hidden">canvas<br>caisse americaine<br>blanche</p>
    </div>

    <div id="wood_usa_box" class="vignettesalon" style="position:relative;background:rgb(250, 240, 250)"  data-action="click->gallerie#wood_usa_box">
      <%= cl_image_tag @product.photos.first.key, style:"position:absolute;top:65%;margin-left:40%;width:7vw;height:auto;box-shadow: 0 0 0 5px rgb(228, 195, 160), 0 0 0 10px rgb(198, 152, 107);"%>
      <p style="position:absolute;top:2%;margin-left:2%;width:96%;overflow:hidden">canvas<br>caisse americaine<br>bois</p>
    </div>
  </div>
<div style="display:flex;justify-content:center">


<%# ENSEMBLE GLOBAL %>

  <div id="house_background">
    <img id="room1" class="roombg" src="/assets/salons/salon1.jpg" alt="salon1" data-gallerie-target="room1">
    <img id="room2" class="roombg" src="/assets/salons/salon2.jpg" alt="salon2" style="display:none" data-gallerie-target="room2">
    <img id="room3" class="roombg" src="/assets/salons/salon3.jpg" alt="salon3" style="display:none" data-gallerie-target="room3">
    <img id="room4" class="roombg" src="/assets/salons/salon4.jpg" alt="salon4" style="display:none" data-gallerie-target="room4">
    <img id="room5" class="roombg" src="" alt="salon5" style="display:none" data-gallerie-target="room5">
    <img id="myhome" class="roombg" src="" alt="chezmoi"  style="display:none;" data-gallerie-target="room6">
    <div id="tableau-slider" data-value="1">
      <div class="frameadjustingarea" id="frameadjusting">
        <% if @product %>
          <%= cl_image_tag @product.photos.first.key, class:"framedefaultsize", style:"position:absolute;top:10px;margin-left:40%;transform: perspective(400px) rotateY(0deg) scale(1);filter: brightness(1);", id:"mainframe", data: { gallerie_target: "frame"}%>
          <div id="framewidth" class="d-flex" data-gallerie-target="framewidth">
            <p style="background: rgba(255,255,255,0.15);border-radius:4px"><i>largeur <%=@product.width%> cm</i></p>
          </div>
        <% else %>
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
          <div id="framewidth" class="d-flex" data-gallerie-target="framewidth">
          </div>
        <% end %>
      </div>
    </div>
        <button class="eye" data-action="click->gallerie#hidebutton"><i class="fa-solid fa-eye"></i></button>
    <div id="simulateurgridmobile" class="simulateurgridmobile">
      <div id="simulateurmobilebutton" >
        <button class="left-scroll-arrow-container" data-action="click->gallerie#move_left"><i class="fa-solid fa-arrow-left left-scroll-arrow"></i></button>
        <button class="up-scroll-arrow-container" data-action="click->gallerie#move_up"><i class="fa-solid fa-arrow-up"></i></button>
        <button class="down-scroll-arrow-container" data-action="click->gallerie#move_down"><i class="fa-solid fa-arrow-down"></i></button>
        <button class="right-scroll-arrow-container" data-action="click->gallerie#move_right"><i class="fa-solid fa-arrow-right"></i></button>
            <button class="rotateYmore-container" data-action="click->gallerie#rotate_frame_more"><i class="fa-solid fa-arrow-right" style="background:red"></i></button>
            <button class="rotateYless-container" data-action="click->gallerie#rotate_frame_less"><i class="fa-solid fa-arrow-left" style="background:red"></i></button>
        <div class="size-adjust-container">
          <button class="grow_shrink_button" data-action="click->gallerie#shrink_frame">
            <i class="fa-solid fa-down-left-and-up-right-to-center size-adjust"></i>
          </button>
          <button class="grow_shrink_button" data-action="click->gallerie#bigger_frame">
            <i class="fa-solid fa-up-right-and-down-left-from-center size-adjust"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div style="display:none;justify-content:center;margin:1rem">
    <p style="text-align:center;font-weight:bold"><i class="fa-sharp fa-solid fa-angles-down fa-bounce" style=";font-weight:bold;margin-right:0.2rem"></i></i>Téléchargez une photo de chez moi<i class="fa-sharp fa-solid fa-angles-down fa-bounce" style="font-weight:bold;margin-left:0.2rem"></i></p>
    <div style="display-flex">
      <i class="fa-sharp fa-solid fa-angles-right fa-fade fa-xl"></i>
      <input type="file" id="imageUpload" accept="image/*" onchange="myhomeImage()" >
    </div>
  </div>

  <div id="bg_selector">
      <div id="r1" class="vignettesalon" data-action="click->gallerie#change_bg1">
        <%= image_tag "salons/salon1.jpg" %>
      </div>

      <div id="r2" class="vignettesalon" data-action="click->gallerie#change_bg2">
        <%= image_tag "salons/salon2.jpg"%>
      </div>

      <div id="r3" class="vignettesalon" data-action="click->gallerie#change_bg3">
        <%= image_tag "salons/salon3.jpg"%>
      </div>

      <div id="r4" class="vignettesalon" data-action="click->gallerie#change_bg4">
        <%= image_tag "salons/salon4.jpg"%>
      </div>

      <div id="r5" class="vignettesalon" onclick="document.querySelector('#imageUpload').click()" style="background:white; cursor: pointer; display: flex; justify-content: center; align-items: center;">
        <p style="margin: 0;text-align:center">Importer ma photo</p>
        <i class="fa-solid fa-camera" ></i>
      </div>
  </div>
</div>
<p style="text-align:center;margin:2rem 0 0.5rem 0;">Luminosité:</p>
<input type="range" min="0" max="1" step="0.05" value="1" id="brightness-slider" style="margin:0 auto;width:50%;display:grid">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  function myhomeImage() {
    const bgselector = document.getElementById('bg_selector');
    let r5 = document.getElementById('r5');
    let myhome = document.querySelector('#myhome');
    let file    = document.querySelector('#imageUpload').files[0];
    let reader  = new FileReader();
    let r6 = document.getElementById('r6');

    reader.onloadend = function () {
      myhome.src = reader.result;
      document.getElementById('room5').src = reader.result;
      myhome.style.display = "block";
      r5.style.backgroundImage = "url('" + reader.result + "')";
      r5.style.backgroundSize = "contain";

    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      myhome.src = "";
      r5.style.backgroundImage = "none";
    }
  }
</script>


<!-- Ajouter du code JavaScript -->
<script>
  $(document).ready(function() {
    // Récupérer l'élément <img> à partir de son ID
    const img = document.getElementById("mainframe");

    // Ajouter un événement "input" au sélecteur de défilement
    $("#brightness-slider").on("input", function() {
      // Récupérer la valeur du sélecteur de défilement
      const brightnessValue = $(this).val();

      // Appliquer le filtre de luminosité à l'image
      img.style.filter = `brightness(${brightnessValue})`;
    });
  });
</script>
