<%# ne sera probablement plus utilisé %>
<div class="container" , style="margin-top:10vh;">
  <h1 class="mt-5 mb-4 text-center">Gestion des stocks</h1>
  <table class="mb-5">
    <thead style="background:black;color:white">
      <tr>
        <th style="background:rgba(255,255,255,0.4);width:15%;padding:1vh">Images</th>
        <th style="background:rgba(255,255,255,0.4);width:25%;padding:1vh">Références</th>
        <th style="background:rgba(255,255,255,0.4);width:10%;padding:1vh">Quantité</th>
        <th style="background:rgba(255,255,255,0.4);width:20%;padding:1vh">Prix</th>
        <th style="background:rgba(255,255,255,0.4);width:20%;padding:1vh">Prix promotionnel</th>
        <th style="background:rgba(255,255,255,0.4);width:10%;padding:1vh">Actions</th>
      </tr>
    </thead>
    <tbody data-controller="preview-price-change">
      <%# <input type="text" data-target="test" data-action=> %>
      <% @products.each_with_index do |product, index| %>
        <div class="row">
          <tr>
            <td>
              <div >
              <%if product.photos.attached?%>
                <%= cl_image_tag product.photos.first.key, style:"max-height:80px", alt: "Photo du produit #{product.name}" %>
              <%else%>
                <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", alt: "Pas d'image disponible", style:"max-height:100px")  %>
              <%end%>
              </div>
            </td>
            <td style="text-align:left">
              <%if product.name.size > 31%>
                <%= product.name[0, 25] %>...
              <% else %>
                <%= product.name%>
              <% end %>
              <p style="margin-left:20px;text-decoration"><i><%= product.sku %></i></p></td>
            </td>

            <%# input de mise a jour de quantité %>
            <td  style="text-align:right">
              <%= product.stock_quantity %><br>
              <%= simple_form_for(product) do |product| %>
                <%= product.error_notification %>
                <%= product.error_notification message: product.object.errors[:base].to_sentence if product.object.errors[:base].present? %>
                <div class="form-inputs" >
                  <%= product.input :stock_quantity, input_html: { min: '0'} %>
                </div>
                  <div class="form-actions" style="text-align:center">
                  <%= button_tag( :style => "background:rgba(0,0,0,0);border:none;color:green;") do %>
                    <i class="fa-regular fa-circle-check"></i>
                  <% end %>
                </div>
              <%end%>
            </td>

            <%# input de mise a jour du prix %>
            <td  style="text-align:right">
              <% prix = humanized_money_with_symbol(product.price_cents / 100.00) + " " + humanized_money_with_symbol(product.price_cents / 100.00).first%>
              <%= prix.slice(1..50) %><br>
              <%= simple_form_for(product) do |product| %>
                <%= product.error_notification %>
                <%= product.error_notification message: product.object.errors[:base].to_sentence if product.object.errors[:base].present? %>
                <div class="form-inputs" >
                  <%= product.input :price_cents, input_html: { min: '1', :class => "input_price_#{index}", :data => { action: "click->preview-price-change#preview input->preview-price-change#preview" }}, label: "Prix en centimes", label_html:{ class:"labelcolor" } %>
                  <p id=<%= "input_price_#{index}" %> style="font-size: 12px;">Renseignez un prix pour le convertir en euros</p>
                </div>
                  <div class="form-actions" style="text-align:center">
                  <%= button_tag( :style => "background:rgba(0,0,0,0);border:none;color:green;") do %>
                    <i class="fa-regular fa-circle-check"></i>
                  <% end %>
                </div>
              <%end%>
            </td>

            <%# input de mise a jour du prix remisé %>
            <td  style="text-align:right">
              <% prixpromo = humanized_money_with_symbol(product.discount_price_cents / 100.00) + " " + humanized_money_with_symbol(product.discount_price_cents / 100.00).first%>
              <%= prixpromo.slice(1..50) %><br>
              <%= simple_form_for(product) do |product| %>
                <%= product.error_notification %>
                <%= product.error_notification message: product.object.errors[:base].to_sentence if product.object.errors[:base].present? %>
                <div class="form-inputs" >
                  <%= product.input :discount_price_cents, input_html: { min: '0', :class => "input_discount_price_#{index}", :data => { action: "click->preview-price-change#preview input->preview-price-change#preview" }}, label: "Prix en centimes", label_html:{ class:"labelcolor" } %>
                  <p id=<%= "input_discount_price_#{index}"%> style="font-size: 12px;">Renseignez un prix pour le convertir en euro</p>
                </div>
                <div class="form-actions" style="text-align:center">
                  <%= button_tag( :style => "background:rgba(0,0,0,0);border:none;color:green;") do %>
                    <i class="fa-regular fa-circle-check"></i>
                  <% end %>
                </div>
              <%end%>
            </td>

            <%# les 2 boutons pour modifier et supprimer le product%>
            <td >
              <div style="display:flex;justify-content: space-around;">
                <%= link_to edit_product_path(product) do %>
                  <i class="fa-solid fa-eraser"></i>
                <%end%>
                 <%= link_to product, data: { turbo_method: :delete, turbo_confirm: "Souhaitez-vous supprimer définitivement cette référence des stocks?"} do %>
                  <i class="fa-solid fa-trash" style="color:red"></i>
                <%end%>
              </div>
            </td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
</div>
