<div style="text-align:left;font-style:italic;">
  <%if current_user.first_name == nil %>
    <h3 class="pt-2">Bienvenue <%= current_user.email %></h3>
  <%elsif current_user.first_name != nil%>
    <h3 class="pt-2">Bienvenue <%= current_user.first_name %></h3>
  <%else%>
    <h3 class="pt-2">Bienvenue</h3>
  <%end%>
    <%= button_to "Me déconnecter",
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-primary p-3 mt-4",
            style:"text-decoration:none;color:white;"
    %>
</div>

<%if current_user && current_user.admin%>
  <div class="global_stat_circles_area">
    <div class="statcircle">
    <h3 class="circlestath3"><%= @admin_paid_orders.count %></h3>
      <p class="circlestatp">
        <%= @admin_paid_orders.count > 1 ? "Commandes en cours" : "Commande en cours" %>
      </p>
    </div>
    <div class="statcircle">
      <h3 class="circlestath3"><%= @admin_delivered_orders.count %></h3>
      <p class="circlestatp">
        <%= @admin_delivered_orders.count > 1 ? "Commandes terminées" : "Commande terminée" %>
      </p>
    </div>
    <div class="statcircle">
      <h3 class="circlestath3"><%= @total_turnover %></h3>
      <p class="circlestatp">€ TTC de C.A généré</p>
    </div>
  </div>

  <div class="pt-5">
    <h4><b> Veuillez trouver les indicateurs de votre magasin:</b></h4>

    <ul>Nombre de références à vendre: <%=Product.all.count%></ul>
    <ul>Nombre de références en stock: <%=Product.where("stock_quantity > 0 ").count%></ul>
    <ul>Nombre de références en promotion: <%=Product.where("discount_price_cents > 0 ").count%></ul>
    <ul>Délai moyen d'approvisionnement fournisseur: <%#=@average_supplier_delay%> jours BUG</ul>
    <ul>Nombre d'inscrit à la newsletter : <%=EmailContact.all.count%></ul>

    <h4>Liste des contacts inscrit à la newsletter:</h4>
    <div style="border:1px solid black;min-height:8vh;max-height:8vh;overscroll-y:auto;width:100%">
    <%EmailContact.all.each do |contact|%>
      <span><%=contact.email%>; </span>
    <% end %>
    </div>
  </div>
<%end%>

<%if current_user != nil%>
  <%if current_user.favorite_products.count > 0%>
    <section style="background:rgba(220,220,220,0);padding: 2rem 0; box-shadow: 0px 0px 10px rgba(220,220,220,0);">
      <div class="carouselcontainer">
        <h3 class="carouselh3">Vos produits favoris</h3>
        <div class="main_carousel_area" data-controller="carousel-homepage">
          <button id="scroll_left" class="carouselgroup-button prev" data-action="click->carousel-homepage#scroll_left" ><i class="fa-solid fa-angles-left"></i></button>
          <div id="carouselclickable" data-carousel-homepage-target="carousel"style="height:100%;position:absolute;left:0;top:0;display:flex;">
            <% current_user.favorite_products.each do |product| %>
              <div class="cardcarousel" data-carousel-homepage-target="cardcarousel">
                <%= render "shared/#{Shop.first.card}", product: product %>
              </div>
            <% end %>
          </div>
          <button id="scroll_right" class="carouselgroup-button next" data-action="click->carousel-homepage#scroll_right" ><i class="fa-solid fa-angles-right"></i></button>
        </div>
      </div>
    </section>
  <%end%>
<%end%>
