<div style="text-align:left;font-style:italic;">
  <%if current_user.first_name == nil %>
    <h3 class="pt-2">Bienvenue <%= current_user.email %></h3>
  <%elsif current_user.first_name != nil%>
    <h3 class="pt-2">Bienvenue <%= current_user.first_name %></h3>
  <%else%>
    <h3 class="pt-2">Bienvenue</h3>
  <%end%>
</div>

<div class="global_stat_circles_area">
  <div class="statcircle">
  <h3 class="circlestath3"><%= @admin_paid_orders.count %></h3>
    <p class="circlestatp">
      <%= @admin_paid_orders.count > 1 ? "Commandes en cours" : "Commande en cours" %>
    </p>
  </div>
  <div class="statcircle">
    <h3 class="circlestath3"><%= @admin_delivered_orders.count %></h3>
    <p class="circlestatp">
      <%= @admin_delivered_orders.count > 1 ? "Commandes terminées" : "Commande terminée" %>
    </p>
  </div>
  <div class="statcircle">
    <h3 class="circlestath3"><%= @total_turnover %></h3>
    <p class="circlestatp">€ TTC de C.A généré</p>
  </div>
</div>

<div class="pt-5">
  <p><b> Veuillez trouver les indicateurs de votre magasin:</b></p>

  <ul>Nombre de références à vendre: <%=Product.all.count%></ul>
  <ul>Nombre de références en stock: <%=Product.where("stock_quantity > 0 ").count%></ul>
  <ul>Nombre de références en promotion: <%=Product.where("discount_price_cents > 0 ").count%></ul>
  <ul>Délai moyen d'approvisionnement fournisseur: <%=@average_supplier_delay%> jours</ul>
</div>
