<% if current_user && current_user.shop && current_user.shop.banner.key %>
  <div class="banner" style="background-image:radial-gradient(circle, rgba(0,0,0,0.29485297536983546) 0%, rgba(0,0,0,0.50773812943146) 44%, rgba(0,0,0,0.6449930313922444) 100%), url('<%= cl_image_path current_user.shop.banner.key %>')">
    <div class="container">
      <div class="p-5" style="margin-top:5vh">
          <h1><strong><%= Shop.first.name %></strong></h1>
          <h3 style="color:white;", class="my-4"><%= Shop.first.description %></h3>
        <div style="position:absolute;bottom:5vh;">
          <%= link_to "Voir tous les produits", products_path, class:"btn btn-success p-3", style:"font-size:x-large;" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="banner">
    <div class="container">
      <div class="p-5" style="margin-top:5vh">
          <h1><strong><%= Shop.first.name %></strong></h1>
          <h3 style="color:white;", class="my-4"><%= Shop.first.description %></h3>
        <div style="position:absolute;bottom:5vh;">
          <%= link_to "Voir tous les produits", products_path, class:"btn btn-success p-3", style:"font-size:x-large;" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="main-bg">
  <div class="container mt-3">
    <h1 class="mt-5 mb-5" style="padding-top:8vh;text-align:center;">Découvrez les nouveautés du magasin !</h1>
    <div class="row d-flex justify-content-center", style="margin-bottom:20vh;">
         <% @products.each do |product| %>
          <% cache product do %>
            <div class="col-sm-9 col-md-6 col-lg-4 col-xl-3 mb-4">
              <div class="radius-bottom">
                <div class="card-trip radius-top" style="box-shadow: 5px 5px 5px rgb(211,211,211);">
                  <% if product.photos.attached? %>
                    <%= link_to product_path(product), class:"d-flex justify-content-center" do %>
                      <%= cl_image_tag product.photos.first.key, height: 300, width: 400, crop: :fill %>
                    <%end%>
                </div>
                  <%else %>
                  <%= link_to product_path(product), class:"d-flex justify-content-center" do %>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="no_images_available" >
                  <%end%>
                </div>
                  <% end %>
                <div class="card-trip-infos card-color radius-bottom" style="box-shadow: 5px 5px 5px rgb(211,211,211)">
                  <div>
                      <h3 style="padding-top:2vh;margin-left:2vh;"><%= product.name %></h3>
                    <%if product.description.length > 90 %>
                      <p style="height: 6vh;margin-left:2vh;font-size:smaller;"><%= product.description.first(120)%>[...]</p>
                    <%else%>
                      <p style="height: 6vh;margin-left:2vh;font-size:smaller;"><%= product.description%></p>
                    <%end%>
                  </div>
                    <div style="text-align:right">
                      <%if humanized_money_with_symbol(product.price).include?(",") %>
                        <span style="text-align:end;font-weight:bolder;font-size:24px"><%= humanized_money_with_symbol(product.price)[/^(.+?),/]%></span>
                        <span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-8px"><%= humanized_money_with_symbol(product.price).last(2)%> ttc</span>
                      <%else %>
                        <span style="text-align:right;font-weight:bolder;font-size:24px"><%= humanized_money_with_symbol(product.price)%>,</span><span style="text-align:end;font-weight:bolder;font-size:12px; position:relative;bottom:8px;left:-4px">  00 ttc</span>
                      <%end%>
                    </div>
                    <div class="d-flex-column", style="text-align:center">
                      <%= button_to "ajouter au panier", line_items_path(product_id: product), class:"btn btn-success" %>
                      <%= link_to "Plus de détails", product_path(product), class: "btn btn-primary mt-2 mb-2" %>
                    </div>
                </div>
              </div>
            </div>
          <%end%>
        <% end %>
      </div>
  </div>
</div>
