<div>
  <%if Shop.first.banner.key%>
    <div class="banner" style="background-image:radial-gradient(circle, rgba(0,0,0,0.29485297536983546) 0%, rgba(0,0,0,0.50773812943146) 44%, rgba(0,0,0,0.6449930313922444) 100%), url('<%= cl_image_path Shop.first.banner.key %>')">
  <%else %>
    <div class="banner" style="background-image:radial-gradient(circle, rgba(0,0,0,0.29485297536983546) 0%, rgba(0,0,0,0.50773812943146) 44%, rgba(0,0,0,0.6449930313922444) 100%)">
  <%end%>
  <div class="container">
    <div style="padding-top:18vh;text-align:center;">
        <h1><strong><%= Shop.first.name %></strong></h1>
        <h3 style="color:white;padding-bottom:10vh;"><%= Shop.first.description %></h3>
      <div style="border-radius:3vh;", class="btn btn-success", style="justify-content:center;">
        <%= link_to "Voir tous les produits", products_path, style:"font-size:bolder;height:6vh;width:40vw;text-decoration:none;color:white;" %>
      </div>
    </div>



    <div class="container mt-3">
      <h1 class="mt-5 mb-5" style="padding-top:8vh;text-align:center;">Découvrez les nouveautés du magasin !</h1>
      <div class="row d-flex justify-content-center" data-controller="favorites">
        <% @products.each do |product| %>
          <%= render "shared/#{Shop.first.card}", product: product%>
        <% end %>
      </div>
    </div>
</div>
