<%= link_to products_path do%>
<div>
<%if Shop.first.banner.key%>
  <div class="banner" style="background-image: url('<%= cl_image_path Shop.first.banner.key %>')">
<%else %>
  <div class="banner nobanner">
<%end%>
    <div class="container">
      <div class="bannertextfield">
          <h1 class="bannerh1"><%= Shop.first.name%></h1>
          <h3 class="bannerh3"><%= Shop.first.description%></h3>
      </div>
    </div>
  </div>
</div>
<%end%>
<div class="mobileonly">
  <%=link_to products_path do%>
    <button class="btn btn-primary btnbanner">
    Accédez aux Produits
    </button>
  <%end%>
</div>


<div class="producthomecontainer" data-controller="favorites">
  <h2 class="carrousselh2">Les articles en promotions - Jusqu'à <span style="color:white;background:red;padding:0.4vh 0.4vw;"><i>- <%=@promo_max%> %</i></span></h2>
  <div style="display:flex;">
    <div class="wrapperhomepage">
      <% @products_with_discount.each do |product| %>
        <%= render "shared/#{Shop.first.card}", product: product%>
      <%end%>
    </div>
  </div>

  <h2 class="carrousselh2">Découvrez les derniers tendances</h3>
  <div style="display:flex;">
    <div class="wrapperhomepage" data-controller="favorites">
      <% @last_products.each do |product| %>
        <%= render "shared/#{Shop.first.card}", product: product%>
      <%end%>
    </div>
  </div>


  <h2 class="carrousselh2">Aperçu des produits en stock !</h1>
  <div class="d-flex justify-content-center" style="flex-wrap: wrap;width:100%;margin: 0 auto" data-controller="favorites" >
    <% @products_in_stock.each do |product| %>
      <%= render "shared/#{Shop.first.card}", product: product%>

    <% end %>
  </div>

  <h2 class="carrousselh2">Produits par catégories</h3>
  <div class="catwrapperoddevencontent">
    <div style="display:flex">
      <div class="catwrapperhomepage">
        <% @categories.each_with_index do |category, index| %>
          <%=link_to category_path(category) do%>
            <% if index.odd? %>
              <% if category.photos.first %>
                <div class="oddcategory" style="background-image: url('<%= cl_image_path category.photos.first.key %>');">
                  <h3 class="catvignettename"><%= category.name %></h3>
                </div>
              <% else %>
                <div class="oddcategory" style="background-image: url('https://images.unsplash.com/photo-1528027656671-6d156f4f1f48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1941&q=80');">
                  <h3 class="catvignettename"><%= category.name %></h3>
                </div>
              <% end %>
            <% end%>
          <%end%>
        <%end%>
      </div>
    </div>
    <div style="display:flex">
      <div class="catwrapperhomepage">
        <% @categories.each_with_index do |category, index| %>
          <%=link_to category_path(category) do%>
            <% if index.even? %>
              <% if category.photos.first %>
                  <div class="evencategory" style="background-image: url('<%= cl_image_path category.photos.first.key %>');">
                    <h3 class="catvignettename"><%= category.name %></h3>
                  </div>
                <% else %>
                  <div class="evencategory" style="background-image: url('https://images.unsplash.com/photo-1528027656671-6d156f4f1f48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1941&q=80');">
                    <h3 class="catvignettename"><%= category.name %></h3>
                  </div>
                <% end %>
            <% end%>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>




  <div style="margin-bottom:5vh;">
    <h2 class="carrousselh2">Découvrez les derniers articles publiés !</h1>
      <%= render "blogposts/blogpostoddeven"%>
  </div>
</div>
