<%= link_to products_path do%>
<div>
<%#if Shop.first.banner.key%>
  <%# <div class="banner" style="background-image:radial-gradient(circle, rgba(193,193,193,0.23012955182072825) 0%, rgba(17,17,17,0.49343487394957986) 45%, rgba(52,52,52,0.7707457983193278) 71%), url('<%= cl_image_path Shop.first.banner.key %>');"> %>
<%#else %>
  <%# <div class="banner nobanner" style="background-image: radial-gradient(circle, rgba(193,193,193,0.23012955182072825) 0%, rgba(17,17,17,0.49343487394957986) 45%, rgba(52,52,52,0.7707457983193278) 71%), url('<%= asset_url('banner_home.jpg') %>');"> %>
  <div class="banner" style="overflow:hidden">
    <%= render "shared/banner_auto_scroll"%>
<%#end%>
    <div class="bannertextfield">
      <h1 class="bannerh1"><%= Shop.first.name%></h1>
      <h3 class="bannerh3"><%= Shop.first.description%></h3>
      <button class="btnbanner">
      Accédez aux Produits
      </button>
    </div>
  </div>
</div>
<%end%>
<div class="mobileonly d-flex justify-center" style="display: flex;justify-content: center;">
  <%=link_to products_path do%>
  <%end%>
</div>


<div class="producthomecontainer" data-controller="favorites">

  <div style="display:flex;justify-content:space-between">
    <h3 class="carouselh3">Découvrez nos oeuvres en promotion - Jusqu'à <span style="color:white;background:grey;padding:0.4vh 0.4vw;"><i style="letter-spacing: 0.3rem;">-<%=@promo_max%>%</i></span></h3>
    <h4 style="display: grid;align-items: center;margin-right:1.5rem"><%= link_to "VOIR TOUT", promo_path, class:"voirtout" %></h4>
  </div>
  <section class="carouselcontainer">
    <div class="main_carousel_area" data-controller="carousel-homepage">
      <button id="scroll_left" class="carouselgroup-button prev" data-action="click->carousel-homepage#scroll_left" ><i class="fa-solid fa-angles-left"></i></button>
      <div id="carouselclickable" data-carousel-homepage-target="carousel"style="height:100%;position:absolute;left:0;top:0;display:flex;">
        <% @products_with_discount.each do |product| %>
          <div class="cardcarousel" data-carousel-homepage-target="cardcarousel">
            <%= render "shared/#{Shop.first.card}", product: product %>
          </div>
        <% end %>
      </div>
      <button id="scroll_right" class="carouselgroup-button next" data-action="click->carousel-homepage#scroll_right" ><i class="fa-solid fa-angles-right"></i></button>
    </div>
  </section>

  <section style="background:rgba(220,220,220,0.3);padding: 2rem 0; box-shadow: 0px 0px 10px rgba(220,220,220,0.5);">
    <div class="carouselcontainer">
      <h3 class="carouselh3">Découvrez nos oeuvres en format paysage</h3>
      <div class="main_carousel_area" data-controller="carousel-homepage">
        <button id="scroll_left" class="carouselgroup-button prev" data-action="click->carousel-homepage#scroll_left" ><i class="fa-solid fa-angles-left"></i></button>
        <div id="carouselclickable" data-carousel-homepage-target="carousel"style="height:100%;position:absolute;left:0;top:0;display:flex;">
          <% @products_landscape.each do |product| %>
            <div class="cardcarousel" data-carousel-homepage-target="cardcarousel">
              <%= render "shared/#{Shop.first.card}", product: product %>
            </div>
          <% end %>
        </div>
        <button id="scroll_right" class="carouselgroup-button next" data-action="click->carousel-homepage#scroll_right" ><i class="fa-solid fa-angles-right"></i></button>
      </div>
    </div>
  </section>

  <section style="background:rgba(220,220,220,0);padding: 2rem 0; box-shadow: 0px 0px 10px rgba(220,220,220,0);">
    <div class="carouselcontainer">
      <h3 class="carouselh3">Découvrez nos oeuvres en format portrait</h3>
      <div class="main_carousel_area" data-controller="carousel-homepage">
        <button id="scroll_left" class="carouselgroup-button prev" data-action="click->carousel-homepage#scroll_left" ><i class="fa-solid fa-angles-left"></i></button>
        <div id="carouselclickable" data-carousel-homepage-target="carousel"style="height:100%;position:absolute;left:0;top:0;display:flex;">
          <% @products_portrait.each do |product| %>
            <div class="cardcarousel" data-carousel-homepage-target="cardcarousel">
              <%= render "shared/#{Shop.first.card}", product: product %>
            </div>
          <% end %>
        </div>
        <button id="scroll_right" class="carouselgroup-button next" data-action="click->carousel-homepage#scroll_right" ><i class="fa-solid fa-angles-right"></i></button>
      </div>
    </div>
  </section>

  <section style="background:rgba(220,220,220,0.3);padding: 2rem 0; box-shadow: 0px 0px 10px rgba(220,220,220,0.5);" >
    <h3 class="carouselh3">Produits par catégories</h3>
    <div class="catwrapperoddevencontent">
      <div style="display:flex">
        <div class="catwrapperhomepage">
          <% @categories.each_with_index do |category, index| %>
            <%=link_to category_path(category) do%>
              <% if index.odd? %>
                <% if category.photos.first %>
                  <div class="oddcategory" style="background-image: url('<%= cl_image_path category.photos.first.key %>');">
                    <h3 class="catvignettename"><%= category.name %></h3>
                  </div>
                <% else %>
                  <div class="oddcategory" style="background-image: url('https://images.unsplash.com/photo-1528027656671-6d156f4f1f48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1941&q=80');">
                    <h3 class="catvignettename"><%= category.name %></h3>
                  </div>
                <% end %>
              <% end%>
            <%end%>
          <%end%>
        </div>
      </div>
      <div style="display:flex">
        <div class="catwrapperhomepage">
          <% @categories.each_with_index do |category, index| %>
            <%=link_to category_path(category) do%>
              <% if index.even? %>
                <% if category.photos.first %>
                    <div class="evencategory" style="background-image: url('<%= cl_image_path category.photos.first.key %>');">
                      <h3 class="catvignettename"><%= category.name %></h3>
                    </div>
                  <% else %>
                    <div class="evencategory" style="background-image: url('https://images.unsplash.com/photo-1528027656671-6d156f4f1f48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1941&q=80');">
                      <h3 class="catvignettename"><%= category.name %></h3>
                    </div>
                  <% end %>
              <% end%>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </section>

  <section style="margin-bottom:5vh;">
    <h3 class="carouselh3">Découvrez les derniers articles publiés !</h3>
      <%= render "blogposts/blogpostoddeven"%>
  </section>
</div>
