<%= link_to products_path do%>
<div>
<%if Shop.first.banner.key%>
  <div class="banner" style="background-image: url('<%= cl_image_path Shop.first.banner.key %>')">
<%else %>
  <div class="banner" style="background-image:radial-gradient(circle, rgba(0,0,0,0.29485297536983546) 0%, rgba(0,0,0,0.50773812943146) 44%, rgba(0,0,0,0.6449930313922444) 100%)">
<%end%>
    <div class="container">
      <div style="padding-top:18vh;text-align:center;">
          <h1 class="bannerh1"><%= Shop.first.name%></h1>
          <h3 style="color:white;padding-bottom:10vh;text-decoration:none"><%= Shop.first.description%></h3>
        <%# <button class="btn btn-success", style="position:absolute;top:95vh;right:38vw;border-radius:3vh;justify-content:center;font-size:bolder;height:6vh;width:26vw;text-decoration:none;color:white;">
        Accédez aux Produits
        </button> %>
      </div>
    </div>
  </div>
</div>
<%end%>



    <div class="container mt-3">
      <h2 class="mt-5 mb-5" style="padding-top:8vh;text-align:center;">Découvrez les nouveautés du magasin !</h1>
      <div class="row d-flex justify-content-center" data-controller="favorites">
        <% @products.each do |product| %>
          <%= render "shared/#{Shop.first.card}", product: product%>
        <% end %>
      </div>
      <h2 class="mt-5 mb-5" style="padding-top:8vh;text-align:center;">Découvrez les derniers articles publiés !</h1>
        <%= render "blogposts/blogpostoddeven"%>
    <%# </div> %>
</div>
