<div class="producthomecontent">

  <div class="container" style="min-height:100vh;">

    <div class="row mt-5 pt-5">
      <h1 style="margin-top:5vh;font-style:italic;">
        <% if current_user.full_name == nil %>
          Bienvenue <%= current_user.email %>
        <% elsif current_user.full_name != nil %>
          Bienvenue <%= current_user.full_name %>
        <% else %>
          Bienvenue
        <% end %>
      </h1>
    </div>

    <%if current_user.admin %>
      <div class="row my-5 d-flex justify-content-center">
        <div class="col-md-6">
          <%= link_to coupons_path do%>
          <div class="btn btn-primary" style="display:flex;justify-content:center;margin:5vh;margin:0 auto;margin-bottom:5vh;" >
            <p style="margin: 0 auto;">Gestion des coupons & codes promotionnels</p>
          </div>
          <%end%>
        </div>
      </div>

      <div class="display-key-numbers my-5 py-5" style="color:black;" >

          <div class="d-flex flex-column justify-content-around my-2 key-number" style="margin:0;height:175px;width:175px;background:rgba(243,244,246,1);padding:3vh;border-radius:50%">
            <h3 style="text-align:center;font-weight:bold;margin:0"><%= @admin_paid_orders.count %></h3>
            <p style="font-size:0.90rem;text-align:center">
              <% if @admin_paid_orders.count > 1 %>
                Commandes en cours
              <% else %>
                Commande en cours
              <% end %>
            </p>
          </div>

          <div class="d-flex flex-column justify-content-around my-2 key-number" style="margin:0;height:175px;width:175px;background:rgba(243,244,246,1);padding:3vh;border-radius:50%">
            <h3 style="text-align:center;font-weight:bold;margin:0"><%= @admin_delivered_orders.count %></h3>
            <p style="font-size:0.90rem;text-align:center">
              <% if @admin_delivered_orders.count > 1 %>
                Commandes terminées
              <% else %>
                Commande terminée
              <% end %>
            </p>
          </div>

          <div class="d-flex flex-column justify-content-around my-2 key-number" style="margin:0;height:175px;width:175px;background:rgba(243,244,246,1);padding:3vh;border-radius:50%">
            <h3 style="text-align:center;font-weight:bold;margin:0"><%= @turnover.sum %> </h2>
            <p style="font-size:0.90rem;text-align:center">
              € TTC de C.A généré
            </p>
          </div>

      </div>

      <div class="row my-5 py-5">
        <%# <p> Je suis le gérant, j'ai accès aux commandes de tous les clients</p> %>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="tab-link active margin-right" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Commandes en cours</button>
            <button class="tab-link margin-left" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Commandes passées</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <%= render "admin-paid-orders", admin_paid_orders: @admin_paid_orders %>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <%= render "admin-delivered-orders", admin_delivered_orders: @admin_delivered_orders %>
          </div>
        </div>
      </div>

    <%else%>

      <div class="row my-5 py-5">
        <h3> Vos produits favoris</h3>
        <div style="height:40vh;overflow:auto;">


          <%if current_user.favorite_products.count == 0%>
            <p style="text-align:center;margin-top:5vh;"><i>Vous n'avez aucun produit en favoris</i></p>
          <%else%>
            <div class="row" style="height:5vh;">
              <% current_user.favorite_products.each do |product| %>
                <%= render "shared/#{Shop.first.card}", product: product %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <%if !@my_pending_orders.empty? %>
        <div class="row my-5 py-5">
          <%=render "orders/pending"%>
        </div>
      <%end%>

      <div class="row my-5 py-5">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="tab-link active margin-right" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Commandes en cours</button>
            <button class="tab-link margin-left" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Commandes passées</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="height:40vh;overflow:auto">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <%= render "my-paid-orders", my_paid_orders: @my_paid_orders %>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <%= render "my-delivered-orders", my_delivered_orders: @my_delivered_orders %>
          </div>
        </div>
      </div>

    <% end %>

  </div>

</div>
