<h3 style="text-align:right;margin-right:5vw;margin-bottom:5vh;">Panier en cours</h3>
<div class="scroller">
  <div class="container">
    <% cart.line_items.each do |item| %>
    <%# ligne complete %>
    <div class="row">
      <%# photo - possiblement ajouté max-width:100%; a l'image%>
      <div class="vignette-line-item">
        <%if item.product.photos.attached?%>
          <%= cl_image_tag item.product.photos.first.key %>
        <%else%>
          <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", alt: "Pas d'image disponible")%>
        <%end%>
      </div>
<%# ////////////////bloc central ///////////////%>
      <div class="line-item-central-area">
        <%# product info %>
        <div class="line-item-info">
          <p class="line-item-product-name">
            <%= item.product.name %>
          </p>
          <p class="line-item-sku">
            REF: <%= item.product.sku %>
          </p>
        </div>
<%#///////////////// Gestionnaire de quantité ////////////////%>
  <%#///////////// + quantité -///////////// %>
        <div class="quantity-zone" data-controller="line-item-quantity" >
  <%#//////////// AJOUTER 1 DE QUANTITE/////////// %>
          <span class="add-one" data-action="click->line-item-quantity#addOne" data-line-item-quantity-item-id-param="<%= item.id %>" >
            <i class="fa-solid fa-plus"></i>
          </span>
          <%#= button_to line_items_addone_path(item),
              method: :post,
              class:"add-one" do%>
                <%# <i class="fa-solid fa-plus"></i> %>
              <%# end %>
  <%# ////////////ENLEVER LA QUANTITE DE 1 ///////////////%>
          <p style="margin-left:2vw;margin-right:2vw" data-line-item-quantity-target="quantity">
            <%= item.quantity  %>
          </p>

          <%if item.quantity > 1%>
            <%#= button_to line_items_removeone_path(item),
                class:"remove-one" do%>
                  <%# <i class="fa-solid fa-minus"></i> %>
              <%#end%>
            <span class="remove-one" data-action="click->line-item-quantity#removeOne" data-line-item-quantity-item-id-param="<%= item.id %>" >
              <i class="fa-solid fa-minus"></i>
            </span>
          <%else %>
            <button class="remove-one">
              <%= link_to line_item_path(item),
                  data: {turbo_method: :delete,
                  turbo_confirm: "Souhaitez-vous supprimer totalement cet article de votre panier?"}  do
              %>
                <i class="fa-solid fa-minus" style="color:grey;"></i>
              <% end %>
            </button>
          <% end %>
        </div>
      </div>

<%# ///////////////// prix produit * qté et promo *qté///////////// %>
      <div class="price-zone">
  <%# /////////////si promo ///////////// %>
        <% if item.product.discount_price_cents > 0 && item.product.discount_price_cents < item.product.price_cents %>
  <%# /////////////////prix classique barré //////////////%>
            <% prixbarre =
              humanized_money_with_symbol((item.product.price_cents / 100.00)* item.quantity)
              + " "
              + humanized_money_with_symbol((item.product.price_cents / 100.00)* item.quantity).first
            %>
          <p class="price-off">
            <%= prixbarre.slice(1..50) %>
          </p>
  <%#/////////////// REMISE EN % ///////////////%>
          <span class="discount-percent">
            -
            <%=(100-((item.product.discount_price_cents).to_f / (item.product.price_cents).to_f)*100).round(0)%>
            %
          </span>
  <%#//////////// prix promo en vert %>
          <% prixpromo = humanized_money_with_symbol((item.product.discount_price_cents / 100.00)* item.quantity)
            + " "
            + humanized_money_with_symbol((item.product.discount_price_cents / 100.00)* item.quantity).first
          %>
          <p class="promo-price">
            <%= prixpromo.slice(1..50) %>
          </p>
        <%else%>
  <%# /////////////sinon prix classique ///////////////%>
          <% prix = humanized_money_with_symbol((item.product.price_cents / 100.00)* item.quantity)
            + " "
            + humanized_money_with_symbol((item.product.price_cents / 100.00)* item.quantity).first
          %>
          <p>
            <%= prix.slice(1..50) %>
          </p>
        <%end%>
      </div>

<%# //////////// la Poubelle - detruit la line item //////// %>
      <div class="trashzone">
        <%= link_to line_item_path(item),
        data: {turbo_method: :delete, turbo_confirm: "Souhaitez-vous supprimer totalement cet article de votre panier?"}  do%>
        <i class="fa-solid fa-trash-can" style="color:grey"></i>
        <% end %>
      </div>
    </div>

    <div class="line-item-separator">
    </div>
    <% end %>

<%# ////////// SOUS TOTAL DU PANIER ////////////%>
    <div class="container subtotal-line" >
      <div class="subtotal-txt">
        <p>SOUS-TOTAL TTC</p>
      </div>
      <div class="subtotal">
      <% sub_total = [] %>
      <% cart.line_items.each do |item| %>
        <% if item.product.discount_price_cents > 0 && item.product.discount_price_cents < item.product.price_cents %>
          <%sub_total << ((item.quantity) * (item.product.discount_price_cents / 100.00))%>
        <%else%>
          <%sub_total << ((item.quantity) * (item.product.price_cents / 100.00))%>
        <%end%>
      <%end%>
        <%# Bidouillage qui permet de supprimer l'euro devant et de le mettre à la fin, la gem ne le proposant pas %>
        <%sub_total_euro_end = humanized_money_with_symbol(sub_total.sum) + " " + humanized_money_with_symbol(sub_total.sum).first%>
        <p><%=sub_total_euro_end.slice(1..50)%></p>
      </div>
    </div>
  </div>
<%# ////////////////FAVORIS DANS LE PANIER - A RETRAVAILLER EN CSS/////////////// %>
  <%if current_user != nil%>
    <h3 class="mb-5 text-center"> Vos produits favoris</h3>
    <%if current_user.favorite_products.count == 0%>
      <p style="text-align:center;margin-bottom:15vh;"><i>Vous n'avez aucun produit en favoris</i></p>
    <%else%>
    <div class="container" style="margin-bottom:15vh;height:75vh;">
      <div class="row" style="height:5vh;">
          <% current_user.favorite_products.sample(3).each do |product| %>
          <%= render "shared/#{Shop.first.card}", product: product %>
          <% end %>
      </div>
    </div>
    <%end%>
  <%end%>
</div>
<%# ///////////////BANNIERE PUB///////////////////// %>
    <div class="cartpub">
      <%if Shop.first.bannerpub != "" && Shop.first.bannerpub != nil %>
        <p style="background:black;color:white;"><%=Shop.first.bannerpub%></p>
      <%end%>
    </div>
<%# ///////////////FINALISER LA COMMANDE///////////////////// %>
    <div class="cartvalidate">
      <% if user_signed_in? %>
        <%= form_with url: orders_path, method: :post do %>
          <%= hidden_field_tag 'cart_id', cart.id %>
          <%= submit_tag 'Finaliser ma commande', class: 'btn btn-primary validcartbtn' %>
        <% end %>
      <% else %>
        <%= link_to "Finaliser ma commande", user_session_path, class: 'btn btn-primary d-flex justify-content-center validcartbtn' %>
      <% end %>
    </div>
