<h3 style="text-align:right;margin-right:5vw;margin-bottom:5vh;">Panier en cours</h3>
<div class="scroller">
  <div class="container" data-controller="line-item-quantity">
    <% cart.line_items.each do |item| %>
      <div id="lineItem<%= item.id %>">
        <%# ligne complete %>
        <div style="display:flex">
          <%# photo - possiblement ajouté max-width:100%; a l'image%>
          <div class="vignette-line-item">
            <%if item.product.photos.attached?%>
              <%= cl_image_tag item.product.photos.first.key %>
            <%else%>
              <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", alt: "Pas d'image disponible")%>
            <%end%>
          </div>
    <%# ////////////////bloc central ///////////////%>
          <div class="line-item-central-area">
            <%# product info %>
            <div class="line-item-info">
              <p class="line-item-product-name">
                <%= item.product.name %>
              </p>
              <p class="line-item-sku">
                REF: <%= item.product.sku %>
              </p>
            </div>

    <%#///////////////// Gestionnaire de quantité ////////////////%>
            <div class="quantity-zone">
      <%#//////////// AJOUTER 1 DE QUANTITE/////////// %>
              <span class="quantity-icon" data-action="click->line-item-quantity#addOne" data-line-item-quantity-item-id-param="<%= item.id %>">
                <i class="fa-solid fa-plus "></i>
              </span>
      <%#//////////// QUANTITE/////////// %>
              <span style="margin-left:2vw;margin-right:2vw" id="quantityItem<%= item.id %>">
                <%= item.quantity  %>
              </span>
      <%# ////////////ENLEVER LA QUANTITE DE 1 ///////////////%>
              <span class="quantity-icon" data-action="click->line-item-quantity#removeOne" data-line-item-quantity-item-id-param="<%= item.id %>" >
                <i class="fa-solid fa-minus"></i>
              </span>

            </div>
          </div>

    <%# ///////////////// prix produit * qté et promo *qté///////////// %>
          <div class="price-zone">
      <%# /////////////si promo ///////////// %>
            <% if item.product.discount_price_cents.positive? %>
      <%# /////////////////prix classique barré //////////////%>
              <p class="price-off">
                <span id="totalOriginalPrice<%= item.id %>"><%= item.total_basic / 100.00 %></span> €
              </p>
      <%#/////////////// REMISE EN % ///////////////%>
              <span class="discount-percent">
                -
                <%=(100-((item.product.discount_price_cents).to_f / (item.product.price_cents).to_f)*100).round(0)%>
                %
              </span>
      <%#//////////// prix promo en vert %>
              <p class="promo-price" >
                <span id="totalPromoPrice<%= item.id %>"><%= item.total_discount / 100.00 %></span> €
              </p>
              <%# need this none-displayed line for js !!! %>
              <span style="display:none" id="totalPrice<%= item.id %>"></span>
            <%else%>
      <%# /////////////sinon prix classique ///////////////%>
              <p>
                <span id="totalPrice<%= item.id %>"><%= item.total_basic / 100.00 %></span>€
              </p>
              <%# need these 2 none-displayed lines for js !!! %>
              <span style="display:none" id="totalOriginalPrice<%= item.id %>"></span>
              <span style="display:none" id="totalPromoPrice<%= item.id %>"></span>
            <%end%>
          </div>

    <%# //////////// la Poubelle - detruit la line item //////// %>
          <div class="trashzone">
            <span data-action="click->line-item-quantity#delete" data-line-item-quantity-item-id-param="<%= item.id %>">
              <i class="fa-solid fa-trash-can" style="color:grey"></i>
            </span>
          </div>
        </div>

        <div class="line-item-separator">
        </div>
      </div>
    <% end %>

<%# ////////// SOUS TOTAL DU PANIER ////////////%>
    <div class="container subtotal-line" >
      <div class="subtotal-txt">
        <p>SOUS-TOTAL TTC</p>
      </div>
      <div class="subtotal">
        <p >
          <span id="amountCart"><%= cart.total / 100 %></span> €
        </p>
      </div>
    </div>
  </div>
<%# ////////////////FAVORIS DANS LE PANIER - A RETRAVAILLER EN CSS/////////////// %>
  <%if current_user != nil%>
    <%if current_user.favorite_products.count > 0%>
      <h3 class="mb-5 text-center"> Vos produits favoris</h3>
      <div class="container" style="margin-bottom:15vh;height:75vh;">
        <div style="height:5vh;display:flex;flew-flow:wrap">
            <% current_user.favorite_products.sample(3).each do |product| %>
            <%= render "shared/#{Shop.first.card}", product: product %>
            <% end %>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
<%# ///////////////BANNIERE PUB///////////////////// %>
    <div class="cartpub">
      <%if Shop.first.bannerpub != "" && Shop.first.bannerpub != nil %>
        <p style="background:black;color:white;"><%=Shop.first.bannerpub%></p>
      <%end%>
    </div>
<%# ///////////////FINALISER LA COMMANDE///////////////////// %>
<% if current_user == nil %>
  <div id="cartvalidate", data-controller="display-cart", data-action="click->display-cart#display_chose_connexion_window">
    <button class="btn btn-primary w-100 h-100">FINALISER MA COMMANDE</button>
  </div>
<% elsif current_user %>
  <div id="cartvalidate">
    <%= form_with url: orders_path, method: :post do %>
      <%= hidden_field_tag 'cart_id', cart.id %>
      <%= submit_tag 'Finaliser ma commande', class: 'btn btn-primary validcartbtn' %>
    <% end %>
  </div>
<% end %>

<div id="connexioncartbutton" class="panierconnexion" data-controller="display-cart">
  <button type="button"
      class="btn-close"
      <%# aria-label="Close" %>
      style=" z-index:1001;margin:1rem 3rem;"
      data-action="click->display-cart#undisplay_chose_connexion_window">
  </button>
  <div class="connexion_buttons_cart m-5">
    <%= button_to "ME CONNECTER OU CREER UN COMPTE",  new_user_session_path, method: :get, class: "btn btn-primary m-2 w-100", data: {action: "click->display-cart#chose_sign_in_or_create_account"} %>
    <br>
    <%= button_to "CONTINUER SANS CREER DE COMPTE", new_guest_session_path, method: :post, class:"btn btn-dark m-2 w-100", data: {action: "click->display-cart#continue_as_guest"} %>
  </div>
</div>

<div id="signin_or_create_account_buttons" class="panierconnexion" data-controller="display-cart">
  <button type="button" class="btn-close" style=" z-index:1001;margin:1rem 3rem;" data-action="click->display-cart#undisplay_connexion_window"></button>
  <div style="padding:1rem;">
    <h4 style="text-align:center; color:black; margin-bottom: 1rem;">Se connecter</h3>
    <form class="form-example">
      <div class="form-example">
        <label for="email">Entrez votre email de connexion: </label>
        <input type="text" name="email" id="email" required>
      </div>
      <div class="form-example">
        <label for="password">Entrez votre mot de passe: </label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="form-example">
        <input type="submit" value="Se connecter" data-action="click->display-cart#sign_in">
      </div>
    </form>

    <%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
      data: {turbo: false}) do |f| %>
        <%#= f.input :email,
                    required: false,
                    autofocus: true,
                    label: "Adresse e-mail",
                    input_html: { autocomplete: "email" },
                    label_html:{ class:"labelcolor" }  %>
        <%#= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    label: "Saisissez votre mot de passe",
                    label_html:{ class:"labelcolor" }  %>
        <%#= f.input :remember_me, label: "Se souvenir de moi", as: :boolean, label_html:{ class:"labelcolor" }  if devise_mapping.rememberable? %>
      <%# <div class="form-actions d-flex justify-content-center"> %>
        <%# <button class="btn btn-primary"><%= f.button :submit, "Connexion" %>
        <%# </button> %>
      <%# </div> %>
        <%#= render "devise/shared/links" %>
      <%# </div> %>
    <%# end %>
  </div>
</div>
