<h2 style="text-align:center">Panier en cours</h2>
<div class="container p-2 scroller">
  <div>
      <table>
        <thead>
          <tr>
            <th class="col-6", colspan="1", style="background:rgba(255,255,255,0.4);">References</th>
            <th class="col-1", colspan="1", style="background:rgba(255,255,255,0.4);">Quantité</th>
            <th class="col-1", colspan="1", style="background:rgba(255,255,255,0.4);">Prix unitaire en € ttc</th>
            <th class="col-1", colspan="1", style="background:rgba(255,255,255,0.4);">Sous-total</th>
          </tr>
        </thead>
        <tbody>
          <% cart.line_items.each do |item| %>
          <%# LA LINE ITEM SE DETRUIT SI ON A MOINS DE 1 AU PANIER - CEPENDANT BUG D'AFFICHAGE NECESSITE 2 REFRESH DU CART %>
                <%if item.quantity < 1 %>
                  <%item.destroy %>
                <%else%>
            <div class="row">
              <tr>
                <td class="col-6" style="text-align:left">
                    <%if item.product.photos.attached?%>
                      <%= cl_image_tag item.product.photos.first.key , style:"width:4vw;height:6vh;" %>
                    <%else%>
                      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", style:"width:4vw;height:6vh;", alt: "Pas d'image disponible")  %>
                    <%end%>
                    <%= item.product.name %>
                    <br>
                    <p style="margin-left:20px;text-decoration"><i><%= item.product.sku %></i></p></td>
                    <td class="col-1" style="text-align:center">
                  <%# AJOUTER 1 DE QUANTITE %>
                  <%= button_to line_items_addone_path(item), method: :post, style:"width:25px;height:25px" do%>
                    <i class="fa-solid fa-plus"></i>
                  <% end %>
                  <%# ENLEVER LA QUANTITE DE 1 %>
                  <%= item.quantity  %>
                      <%if item.quantity > 1%>
                  <%= button_to line_items_removeone_path(item), style:"width:25px;height:25px" do%>
                    <i class="fa-solid fa-minus"></i>
                      <%end%>
                      <%else %>
                      <br>
                      <button style="width:25px;height:25px;">
                  <%= link_to line_item_path(item),
                  data: {turbo_method: :delete, turbo_confirm: "Souhaitez-vous supprimer totalement cet article de votre panier?"}  do%>
                    <i class="fa-solid fa-minus"></i>
                      <% end %>
                      </button>
                      <br>
                  <% end %>
                  <%# SUPPRIMER LA LINE ITEMS QU'IMPORTE LA QUANTITEE %>
                  <%= link_to line_item_path(item),
                  data: {turbo_method: :delete, turbo_confirm: "Souhaitez-vous supprimer totalement cet article de votre panier?"}  do%>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </td>
                <%end%>
                <td class="col-1" style="text-align:right">
                <% if item.product.discount_price_cents > 0 && item.product.discount_price_cents < item.product.price_cents %>
                  <p style="text-decoration:line-through;"><%= humanized_money_with_symbol(item.product.price_cents / 100.00)  %> ttc </p>
                  <p style="color:green;"><%= humanized_money_with_symbol(item.product.discount_price_cents / 100.00)  %> ttc </p>
                  <span style="border:1px solid red;color:red;padding:4px;">- <%=(100-((item.product.discount_price_cents).to_f / (item.product.price_cents).to_f)*100).round(0)%>%</span>
                <%else%>
                  <p><%= humanized_money_with_symbol(item.product.price_cents / 100.00)  %> ttc </p>
                <%end%>
                </td>
                <td class="col-1" style="text-align:right">
                <% if item.product.discount_price_cents >0 && item.product.discount_price_cents < item.product.price_cents %>
                  <p>€<%= ((item.product.discount_price_cents / 100.00)* item.quantity).round(2)  %> ttc </p>
                <%else%>
                  <p>€<%= ((item.product.price_cents / 100.00)* item.quantity).round(2) %> ttc </p>
                <%end%>
                </td>
              </tr>
            </div>
          <% end %>
        <thead>
          <tr>
            <td class="col-8", style="text-align:right; background:rgba(255,255,255,0.4);", colspan="3">SOUS-TOTAL</td>
            <td class="col-1", style="text-align:right;", colspan="1">
            <% sub_total = [] %>
            <% cart.line_items.each do |item| %>
              <% if item.product.discount_price_cents > 0 && item.product.discount_price_cents < item.product.price_cents %>
                <%sub_total << ((item.quantity) * (item.product.discount_price_cents / 100.00))%>
              <%else%>
                <%sub_total << ((item.quantity) * (item.product.price_cents / 100.00))%>
              <%end%>
            <%end%>
              <span><%=humanized_money_with_symbol(sub_total.sum)%>ttc </span>
        </thead>
        </tbody>
      </table>
  </div>
  <p style="color:green"><%= notice %></p>
  <div>
    <% if user_signed_in? %>
      <%= form_with url: orders_path, method: :post do %>
        <%= hidden_field_tag 'cart_id', cart.id %>
        <%= submit_tag 'Finaliser ma commande', style:"width:100%;justify-content:center;", class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= link_to "Finaliser ma commande", user_session_path, style:"width:100%;justify-content:center;", class: 'btn btn-primary d-flex justify-content-center' %>
    <% end %>
    </div>
    <div style="text-align:end;">
      <%= button_to "Vider le panier", cart, method: :delete, data: { confirm: "êtes-vous sûr?" },
      class: "cartempty", remote: true %>
    </div>
    <h3 class="mb-5 text-center"> Vos produits favoris</h3>
    <%= render "shared/#{Shop.first.card}", products: current_user.favorite_products.sample(3)%>
  </div>
</div>
