<div class="container", style="margin-top:30vh">
  <div>
    <h2>Panier/!\</h2>

    <ul>
      <% @cart.line_items.each do |item| %>
        <li><%= item.product.name %> (x <%= item.quantity  %>)</li>
      <% end %>
    </ul>

    <p><%= link_to "RETOUR AUX PRODUITS !!!!!", root_path %></p>

  </div>




  <p style="color: green"><%= notice %></p>

  <%= render @cart %>

  <div style="margin-bottom:20vh">
    <%= link_to "Edit this cart", edit_cart_path(@cart) %> |
    <%= link_to "Back to carts", carts_path %>

    <%= button_to "Destroy this cart", @cart, method: :delete %>
  </div>
</div>



<%# TOUT LE STYLE CSS A RETRAVAILLER %>
