<div class="container" style="margin-top:15vh;" >
  <div class="row justify-content-center ">
    <div class="log-formulaire col-xs-10 col-lg-6 col-xl-4 p-4">
      <h2 style="text-align:center; color:black;">Se connecter</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
        data: {turbo: false}) do |f| %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label_html:{ class:"labelcolor" }  %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" },
                      label_html:{ class:"labelcolor" }  %>
          <%= f.input :remember_me, as: :boolean, label_html:{ class:"labelcolor" }  if devise_mapping.rememberable? %>
        <div class="form-actions d-flex justify-content-center">
          <button class="btn btn-primary"><%= f.button :submit, "Connexion" %></button>
        </div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
