<div class="main-bg mt-5">
  <div class="container">
    <div class="row py-4">
    <%# bug de recuperation de l'image à traiter %>

      <%# <div class="col-md-3"> %>
      <%#= image_tag @order.product.images.first, width: '100%' %>
      <%# </div> %>

      <div class="col">
        <h1>Récapitulatif de la commande</h1>
        <ul>
          <% @order.items.each do |key, value| %>
            <li><%= @order.items[key]["name"] %> <%= (@order.items[key]["unit_amount"] / 100) %>€ TTC (x <%= @order.items[key]["quantity"]  %>) </li>
          <% end %>
        </ul>

        <button id="pay" class="btn btn-primary">Valider le paiement</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>

