
<div class="container", style="background-color:<%=Shop.first.themebgcolor%>;">
  <p>FORMULAIRE DE CREATION DE CATEGORIE</p>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4", style="background-color:rgba(130,130,130,0.3);border-radius:10px;">
      <%= simple_form_for(@category) do |category| %>
        <%= category.error_notification %>
        <%= category.error_notification message: category.object.errors[:base].to_sentence if category.object.errors[:base].present? %>
        <div class="form-inputs" >
          <%= category.input :name, placeholder: "nom de la categorie", label_html:{ class:"labelcolor" }%>
        </div>
        <div class="form-actions d-flex justify-content-center" style="margin-bottom:10vh;">
          <%= category.button :submit, class:"btn btn-success", value:"Ajouter une categorie"%>
        </div>
        <% end %>
    </div>
  </div>
</div>
