<div style="
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height:40vh;
    margin:0 auto;
    margin-top: 10vh;
    width: 100vw;
    background-image: url('<%= cl_image_path @category.photos.first.key %>')">
</div>
<div class="container" style="margin-top:5vh">
  <div style="display:flex;justify-content:center">
    <h2><%=@category.name%></h2>
  </div>
  <%@subcategories.each do |subcategory|%>
    <%=link_to category_subcategory_path(subcategory.category, subcategory) do%>
      <button class="btn btn-primary m-5 p-3">Voir tous nos produits « <%=subcategory.name%> »</button>
    <%end%>
    <div style="display:flex;">
      <div class="wrapperhomepage" data-controller="favorites">
        <% subcategory.products.where(main: true).each do |product| %>
          <%= render "shared/#{Shop.first.card}", product: product%>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
