  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <%= simple_form_for(@product) do |product| %>
          <%#= product.error_notification %>
          <%#= product.error_notification message: product.object.errors[:base].to_sentence if product.object.errors[:base].present? %>
          <div class="form-inputs">
            <%= product.input :name %>
            <%= product.input :sku%>
            <%= product.input :description %>
            <%= product.input :images, as: :file %>
            <%= product.input :price_cents %>
            <%= product.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="form-actions d-flex justify-content-center">
            <% if @product.name.nil? %>
              <%= product.button :submit, class:"btn btn-success", value:"Ajouter le produit"%>
            <% else %>
              <%= product.button :submit, class:"btn btn-success", value:"Mettre à jour le produit"%>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
