<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6", style="background-color:rgba(130,130,130,0.3);border-radius:10px;margin-bottom:5vh;padding-top:3vh;" data-controller="preview-price-change autocompleteproduct">
      <%= simple_form_for(@product) do |product| %>
        <%= product.error_notification %>
        <%= product.error_notification message: product.object.errors[:base].to_sentence if product.object.errors[:base].present? %>
        <div class="form-inputs" >
          <%= product.input :subcategory_id, label: "Sous-catégorie", collection: Subcategory.all.order('name'), label_html:{ class:"labelcolor" }%>
          <%= product.input :name, label: "Nom du produit", placeholder: "Poêle à granulés", label_html:{ class:"labelcolor" }%>
          <%= product.input :sku, placeholder: "Référence interne", label_html:{ class:"labelcolor" }%>
          <%= product.input :name, label: "Nom", placeholder: "paysagesauvage", label_html:{ class:"labelcolor" }, input_html:{ :data => { action: "input->autocompleteproduct#nameautocomplete", autocompleteproduct_target: "name" } }%>
          <%= product.input :name, label: "Nom", placeholder: "12345_60x90_V_TSC auto-remplissage", label_html:{ class:"labelcolor" }, input_html:{ :data => { action: "input->autocompleteproduct#nameautocomplete", autocompleteproduct_target: "name" } }%>
          <%= product.input :width, placeholder: "90", label_html:{ class:"labelcolor" }, input_html: { :data => { action: "input->autocompleteproduct#nameautocomplete", autocompleteproduct_target: "width" } }%>
          <%= product.input :height, placeholder: "60", label_html:{ class:"labelcolor" }, input_html: { :data => { action: "input->autocompleteproduct#nameautocomplete", autocompleteproduct_target: "height" } }%>
          <%= product.input :orientation, collection: Product::ORIENTATION, label:"Orientation", label_html:{ class:"labelcolor" }, input_html: { :data => { action: "input->autocompleteproduct#nameautocomplete", autocompleteproduct_target: "orientation" } } %>
          <%= product.input :support, collection: Product::SUPPORT, label:"Support", label_html:{ class:"labelcolor" }, input_html: { :data => { action: "input->autocompleteproduct#nameautocomplete", autocompleteproduct_target: "support" } } %>
          <%= product.input :sku, placeholder: "Référence interne auto-complétée", placeholder: "12345_60x90_V_TSC auto-remplissage", label_html:{ class:"labelcolor" }, input_html: { style:"background:yellow", :data => { autocompleteproduct_target: "sku" } }%>
          <%= product.input :frame_quantity, collection: Product::FRAME_QUANTITY, label:"Nombre de tableau (unique, triptique...etc)", label_html:{ class:"labelcolor" } %>
          <%= product.input :description, placeholder:"Le produit en quelques mots", label_html:{ class:"labelcolor" } %>
          <%= product.input :full_description, as: :rich_text_area, label:"Description complète du produit", placeholder:"Personnaliez la description de votre produit", label_html:{ class:"labelcolor" } %>
          <%= product.input :price_cents, label: "Prix (en centimes)", placeholder: "2990", label_html:{ class:"labelcolor" }, input_html: { min: '1', :class => "input_price", :data => { action: "click->preview-price-change#preview input->preview-price-change#preview" }} %>
          <p id=<%= "input_price" %> style="font-size: 12px;">Renseignez un prix pour le convertir en euros</p>
          <p id=<%= "input_discount_price"%> style="font-size: 12px;">Renseignez un prix pour le convertir en euro</p>
          <%= product.input :stock_quantity, label: "Quantité disponible en stock", placeholder: "92", label_html:{ class:"labelcolor" }, input_html: { min: '0'} %>
          <%= product.input :supplier_delay, label: "Délai approvisionemment fournisseur en jours", placeholder: "21", label_html:{ class:"labelcolor" }, input_html: { min: '0'} %>
          <%= product.input :photos, as: :file, label: "Photos du produit", input_html: { multiple: true }, label_html:{ class:"labelcolor" }%>
          <div style="width:100%;background:rgba(234,179,241,0.8);padding:15px;border-radius:5px">
            <%= product.input :discount_price_cents, label: "Prix promotionnel (0 si aucune promo en cours)", placeholder: "1990", label_html:{ class:"labelcolor" }, input_html: { min: '0', :class => "input_discount_price", :data => { action: "click->preview-price-change#preview input->preview-price-change#preview" }} %>
            <%= product.input :discount_ending_date, label: "Date de fin de promotion (obligatoire si promotion en cours)", label_html:{ class:"labelcolor" }%>
          </div>
        </div>
        <div class="form-actions d-flex justify-content-center" style="margin-bottom:5vh;margin-top:5vh;">
          <% if @product.name.nil? %>
            <%= product.button :submit, class:"btn btn-success", value:"Ajouter le produit"%>
          <% else%>
            <%= product.button :submit, class:"btn btn-success", value:"Modifier le produit"%>
          <%end%>
        </div>
      <% end %>
    </div>
  </div>
</div>
