  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-4", style="background-color:rgba(200,200,200,0.7);border-radius:10px;">
        <%= simple_form_for(@product) do |product| %>
          <%#= product.error_notification %>
          <%#= product.error_notification message: product.object.errors[:base].to_sentence if product.object.errors[:base].present? %>
          <div class="form-inputs" >
            <%= product.input :name, placeholder: "nom du produit"%>
            <%= product.input :sku, placeholder: "reference interne"%>
            <%= product.input :description, placeholder: "brève description" %>
            <%= product.input :price_cents, placeholder: "2990" %>
            <%= product.input :photos, as: :file, input_html: { multiple: true }%>
          </div>
          <div class="form-actions d-flex justify-content-center" style="margin-bottom:10vh;">
            <% if @product.name.nil? %>
              <%= product.button :submit, class:"btn btn-success", value:"Ajouter le produit"%>
            <% else %>
              <%= product.button :submit, class:"btn btn-success", value:"Mettre à jour le produit"%>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
