<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <%= form_with url: products_path, method: :get, class: "d-flex pt-5 py-5" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "rechercher un produit"
      %>
      <%= submit_tag "Valider", class: "btn btn-primary" %>
          <% end %>
  </div>
</div>

<p>Find me in app/views/products/index.html.erb</p>

<div class="container">
  <h1>Products</h1>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card m-5">

<%# transformer par une migration la colonne images de la table product par un array, voir tuto ===>   https://stackoverflow.com/questions/23340222/how-to-save-array-to-database-in-rails %>

            <% if product.images? %>
            <%= product.images.first %>
            <%else %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="no_images_available">
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description%></p>
              <p>Prix: <%= humanized_money_with_symbol(product.price) %></p>
              <%= link_to "Info", product_path(product), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
