<%# searchbar %>
<%# <div class="main-bg"> %>


  <%# <div class="container" , style="margin-top:10vh"> %>

    <div class="row justify-content-center" style="padding-top:10vh;">
      <div class="col-sm-12 col-md-8 col-lg-6" style="padding:0">
        <%= form_with url: search_products_path, method: :post, data: { controller: 'debounce', debounce_target: 'form' }, class: "d-flex" do |form| %>
          <%= text_field_tag :name_search,
            params[:name_search],
            class: "form-control",
            style: "font-size:x-large",
            placeholder: "rechercher un produit",
            data: { action: "input->debounce#search" }
          %>
          <%= submit_tag "Valider", class: "btn btn-primary p-2", style: "font-size:x-large;"%>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div id="search_results", class="col-sm-12 col-md-8 col-lg-6 d-flex flex-column" style="background-color:white; z-index:999"></div>
    </div>



    <div data-controller="category">

      <div id="categories_left_barre" data-action="mouseover->category#slidecategorymenu">
          <h3 style="writing-mode: vertical-rl;text-align:center;margin-top:3vh;">CATEGORIES</h3>
      </div>

      <%# AFFICHER LES CATEGORIES ET SUBCATEGORIES AVEC LE SYSTEME NAV-TAB DE BOOSTRAP  %>

      <div id="smalldevicecategories" class="d-flex align-items-start MENUCATEGORY">
        <div class="nav flex-column me-3" role="tablist" aria-orientation="vertical">
          <% Category.all.each_with_index do |category, index| %>
            <button class="nav-link categorymenu" id="v-pills-<%=category.name%>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%= category.name%>" type="button" role="tab" aria-controls="v-pills-<%= category.name%>" aria-selected="true"><%= category.name %></button>
          <% end %>
          <img src="https://www.svgrepo.com/show/50/circular-arrow.svg" style="height:50px;z-index:101;" id="removeMenuCatArrow" data-action="click->category#hidecategorymenu">
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <% Category.all.each do |category| %>
            <div class="tab-pane fade" id="v-pills-<%=category.name%>" role="tabpanel" aria-labelledby="v-pills-<%=category.name%>-tab">
              <% category.subcategories.each do |subcategory| %>
                <p><%= subcategory.name %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>


      <%# AFFICHER LES CATEGORIES ET SUBCATEGORIES AVEC NOTRE PROPRE CODE %>


       <%# <div id="smalldevicecategories" class="MENUCATEGORY" > %>
        <%# <% Category.all.each_with_index do |category, index| %>
          <%# <div class="categorymenu", data-action="click->category#displaysubcategory"> %>
            <%# <p> %>
              <%# <%=category.name%>
            <%# </p> %>
          <%# </div> %>
        <%# <% end %>
        <%# <img src="https://www.svgrepo.com/show/50/circular-arrow.svg" style="height:50px;z-index:101;" id="removeMenuCatArrow" data-action="click->category#hidecategorymenu"> %>
      <%# </div> %>

      <%# les sous catégories sont toutes display dans un premier temps, avec le nom de leur catégorie référente en class %>
      <%# <div style="background:red"> %>
        <%# <div id="subcat" class="subcategorymenu"> %>
          <%# Subcategory.all.each do |subcategory| %>
            <%# <p class="subcat <%=subcategory.category.name"> %>
              <%#= subcategory.name %>
            <%# </p> %>
          <%# end %>
        <%# </div> %>
      <%# </div> %>

    </div>









    <%# //LE TYPE DE CARD ICI %>
    <div class="container pt-5">
      <h1 class="mb-5 text-center">Produits disponibles</h1>
      <%= render "shared/#{Shop.first.card}"%>
    </div>
  <%# </div> %>
