<div class="pt-5" style="margin-top: 10vh;">
  <h1 class="mb-5 text-center"
      data-search-target="title">
    <%= pluralize(@products.size, 'Produit disponible', plural: 'Produits disponibles') %>
  </h1>

  <div style="display:flex;justify-content:center;width:100%;height:50px;"><%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <p class="pagymarginleft"><i><%== pagy_info(@pagy) %></i></p>
  <div class="gridcontainer" data-controller="favorites" data-search-target="list">
    <%= render 'list', products: @products %>
    <div class="BIG1">
      <% random_productBIG1 = @products.sample(1) %>
      <% random_productBIG1.each do |product| %>
        <%= render "shared/big#{Shop.first.card}", product: product %>
      <% end %>
    </div>
    <div class="BIG2">
      <% random_productBIG2 = (@products - random_productBIG1).sample(1) %>
      <% random_productBIG2.each do |product| %>
        <%= render "shared/big#{Shop.first.card}", product: product %>
      <% end %>
      <%# <div class="pubsimulateur"> %>
        <%# <img src="https://zupimages.net/up/23/14/ds45.jpg" alt="pubsimulateur"> %>
        <%# <h3 class="h3pubsimulateur">Découvre notre simulateur <br>disponible dans chaque fiche<br> produits</h3> %>
      <%# </div> %>
    </div>
  </div>

  <div style="display:flex;justify-content:center;width:100%;height:50px;"><%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
