<div class="pt-5" style="margin-top: 2vh;">
  <div style="background:rgba(220,220,220,0.5);box-shadow: 0px 0px 1px 2px rgba(220,220,220,0.5);width:100%;padding: 0.2rem 0;display:grid;margin:1rem auto">
    <h4 style="text-align:center">Filtrer les produits</h4>
    <div style="display:flex;justify-content:center;flex-wrap: wrap;align-items: baseline;margin:auto 0.2rem ">
      <%= search_form_for @query, data: { search_target: "filterForm" } do |f| %>
        <%= f.label :subcategory_id_eq, "Sous-catégorie", class: "labelcolor form_margin" %>
        <%= f.collection_select :subcategory_id_eq, Subcategory.all, :id, :name, { prompt: "Toutes les sous-catégories" }, class: "select-form" %>
        <%= f.label :orientation, class: "labelcolor form_margin" %>
        <%= f.select :orientation_cont, ["paysage", "carré", "portrait"], { prompt: "Toutes les orientations" }, class: "select-form" %>
        <%= f.submit "", class: "btn btn-secondary m-3", value: "RECHERCHER", data: {action: "click->search#filterBySubCatAndOrientation"} %>
      <% end %>
      <p><b>OU</b></p>
      <%= form_with(url: products_path, method: "get", data: {search_target: "sortForm"}) do |f| %>
        <%= f.label :sort_by, "Trier tous les produits par :", class: "labelcolor form_margin" %>
        <%= f.select :sort_by, options_for_select([["Nom (A-Z)", "name_asc"], ["Nom (Z-A)", "name_desc"]], params[:sort_by]), { include_blank: true }, class: "select-form" %>
        <%= f.submit "", class: "btn btn-secondary m-3", value: "TRIER", data: {action: "click->search#sortByAscOrDescOrder"} %>
      <% end %>
    </div>
  </div>
  <div class="pagynavdiv" data-search-target="pagynavdiv"  ><%== pagy_bootstrap_nav(@pagy)%>
  </div>
  <h2 class="mb-5 text-center" data-search-target="title">
    <%= pluralize(@total_count, 'oeuvre disponible', plural: 'oeuvres disponibles') %>
  </h2>
  <p class="pagymarginleft" data-search-target="pages"><i><%== pagy_info(@pagy) %></i></p>
  <div class="gridcontainer" data-controller="favorites" data-search-target="list">
    <% @products.each do |product| %>
      <%= render "shared/#{Shop.first.card}", product: product %>
    <% end %>
    <% if @products.length >= 10 %>
      <div class="BIG1">
        <% random_productBIG1 = @products.sample(1) %>
        <% random_productBIG1.each do |product| %>
          <%= render "shared/big#{Shop.first.card}", product: product %>
      <% end %>
    <% end %>
    </div>
    <% if @products.length >= 22 %>
      <div class="BIG2">
        <% random_productBIG2 = (@products - random_productBIG1).sample(1) %>
        <% random_productBIG2.each do |product| %>
          <%= render "shared/big#{Shop.first.card}", product: product %>
        <% end %>
      </div>
    <%end%>
  </div>
  <div class="pagynavdiv" data-search-target="pagynavdivbis"><%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
