<%= link_to '<< Retour', products_path, class: 'btn btn-primary-primary' %>
  <p>Prix: <%= humanized_money_with_symbol(@product.price) %></p>

  <div class="button">
    <% if user_signed_in? %>
    #lien provisoir en attendant la creation d'un panier il ramene a l'index
      <%= link_to "ajouter dans panier", products_path  %>
    <% else %>
      <%= link_to "Connecter mon compte", user_session_path %>
    <% end %>


    <% if current_user.admin%>
      <div class="row", style="text-align:center">
        <div class="my-3" >
          <%= link_to "Modifier produit", edit_product_path(@product), class: "btn btn-warning" %>
          <%= link_to "Supprimer le produit", @product, data: { turbo_method: :delete }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end%>
