<div class="producthomecontainer showmargintop" data-controller="share favorites loadvariants" data-share-url-value= "<%= product_url(@product) %>">
  <div class="container" >
    <div class="mt-5">
      <%= link_to products_path, :class => "btn btn-dark mt-5" do%>
        <span><i class="fa-solid fa-arrow-rotate-left"></i> Retour aux produits</span>
      <% end %>
    </div>

    <%# ADMIN ZONE %>
    <div class="adminaction">
      <% if current_user && current_user.admin %>
        <%= link_to "Modifier produit",
            edit_product_path(@product),
            class: "btn btn-warning m-3 d-flex align-items-center" %>
        <%= link_to "Supprimer le produit", @product,
            data: { turbo_method: :delete,
            turbo_confirm: "Souhaitez-vous supprimer définitivement cette référence produit?"},
            class: "btn btn-danger m-3 d-flex align-items-center" %>
      <% end%>
    </div>

    <div class="product_top_view">
      <div class="productcarrousselarea">
        <%# Share button %>
        <%= link_to products_path, :class => "shareiconbg", :data => {action: "click->share#share"} do%>
            <i class="fa-solid fa-share-nodes shareicon"></i>
        <% end %>
        <%# Promo span %>
        <span data-loadvariants-target= "discountpercentzone">
          <%if @product.discount_price_cents != 0%>
            <span class="promospanshowproduct"> <%= @discount_percent %> %</span>
          <%end%>
        </span>
        <%# favorite %>
        <i class="fa-solid fa-heart c4-favorite heart-favorite-product-show <%= Favorite.find_by(user: current_user, product: @product) ? 'fav-red' : 'fav-black' %>"
            data-action= <%= current_user ? 'click->favorites#fav' : 'click->favorites#redirect' %>
            data-favorites-product-id-param="<%= @product.id %>">
        </i>
        <% if @product.photos.attached? %>
          <%= render "carrousel-product", product: @product %>
        <% else %>
          <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg",
              size: "250x250",
              alt: "Pas d'image disponible",
              class: 'd-block mx-auto') %>
        <% end %>



        <div id="zoom-product-show" data-controller="gallerie" data-action="click->gallerie#showPreview">
          <i class="fa-solid fa-magnifying-glass-plus"></i>
        </div>


        <div class="hiddenzoom" id="zoomvignette" data-controller="gallerie" data-action="click->gallerie#showPreview">
           <% if @product.photos.attached? %>
              <%= cl_image_tag @product.photos.first.key, style:"max-width:90%;max-height:90%"%>
            <% else %>
              <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg",
                style:"max-width:90%;max-height:90%",
                alt: "Pas d'image disponible",
                class: 'd-block mx-auto') %>
            <% end %>
        </div>

        <div class="simulateurbutton">
          <a href="#house_background"><button class="btn btn-primary">Voir chez moi</button></a>
        </div>
      </div>

      <div class="productdataarea">
        <%= content_tag(:h2, @product.name,
                        class:"dataproductnameshow",
                        data: { share_target: "title"}) %>
        <span data-loadvariants-target="pricezone">
          <% if @product.discount_price_cents != 0 %>
            <h4 style="text-decoration:line-through">Prix : <span data-loadvariants-target="price"><%= @price %></span> € TTC</h4>
            <h3 style="color:green;text-align:right"><b>Prix promo: <span data-loadvariants-target="promotionnalprice"><%= @promotionnal_price %></span> € TTC</b></h3>
            <p style="color:red;text-align:right;">Fin de la promotion dans <span data-loadvariants-target="time"><%= @product.discount_ending_date %></span></p>
          <% else %>
            <h4><b>Prix : <%= @price %> € TTC</b></h4>
            <span data-loadvariants-target="time" style="display:none"></span>
          <%end%>
        </span>

        <div data-loadvariants-target="stockzone" style="margin-top:2em">
          <%if @product.stock_quantity > 0%>
            <p style="color:green;text-align:left"><strong>En stock :</strong> <%=@product.stock_quantity%> exemplaires disponibles</p>
          <%else%>
            <p style="color:green;text-align:left"><i>Disponible sous <%=@product.supplier_delay%> jours</i></p>
            <%# voir :delay_retailer a ajouter a product %>
          <%end%>
        </div>

        <div class="tags_description">
          <h2 style="margin-bottom:2rem">Tags descriptif:</h2>
          <%@words.each do |word|%>
            <span class="span_wordtag">#<%=word%></span>
          <%end%>
        </div>

        <h2 style="margin:2rem 0">Caractéristiques:</h2>
          <table class="productcaract">
            <tr>
              <td class="boldcaract"><p>Orientation</p></td>
              <td><p><i data-loadvariants-target="orientation"><%=@product.orientation%></i></p></td>
            </tr>
            <tr>
              <td class="boldcaract"><p>Hauteur</p></td>
              <td><p><i data-loadvariants-target="height"><%=@product.height%>cm</i></p></td>
            </tr>
            <tr>
              <td class="boldcaract"><p>Largeur</p></td>
              <td><p><i data-loadvariants-target="width"><%=@product.width%>cm</i></p></td>
            </tr>
            <tr>
              <td class="boldcaract"><p>Support</p></td>
              <td><p><i data-loadvariants-target="support"><%=@product.support%></i></p></td>
            </tr>
            <tr>
              <td class="boldcaract"><p>Nombre de tableaux</p></td>
              <td><p><i data-loadvariants-target="framequantity"><%=@product.frame_quantity%></i></p></td>
            </tr>
          </table>


        <div style="display:grid;justify-content:center">
          <h2 style="text-align:left;margin-bottom:1rem;">Autres formats disponible:</h2>
            <%if @similar_products.count.positive?%>
              <% @similar_products.each do |product|%>
                  <% if @product.sku== product.sku %>
                    <button class= "btn btn-dark mb-2 variant"
                            style="background:rgba(236, 240, 241, 0.2); color:black; border:1px solid black"
                            id="<%=product.id%>"
                            data-action="click->loadvariants#loadNewVariant"
                            data-loadvariants-product-id-param="<%= product.id %>">
                      <i class="fa-solid fa-arrow-right" style="color:red"></i>
                      <%= product.height%>x<%= product.width%> - <%= product.orientation%> - <%= product.support%>
                    </button>
                  <% else %>
                    <button id="<%=product.id%>" class="btn btn-dark mb-2 variant" data-action="click->loadvariants#loadNewVariant" data-loadvariants-product-id-param="<%= product.id %>">
                      <%= product.height%>x<%= product.width%> - <%= product.orientation%> - <%= product.support%>
                    </button>
                  <% end %>
              <% end %>
            <% end %>
        </div>
        <span data-loadvariants-target="addtocart">
          <%= button_to "Ajouter au panier", line_items_path(product_id: @product.id), class:"btn btn-success addtocart p-4" %>
        </span>
      </div>

    </div>

  </div>

  <%# Product description area %>
  <div style="margin-top:3vh;border-top:1px solid grey;">
    <%# Simple description %>
    <%= content_tag(:p, @product.description, style:"padding-top:2vh;", data: {share_target: "body"}) %>
    <%# Simple description %>
    <p>
      <%= @product.full_description %>
    </p>
  </div >

  <section data-controller="gallerie">
    <%= render "pages/homegallerie"%>
  </section>

  <h2 style="text-align:left;margin-left:10vw;margin-top:10vh;">Les produits suivants pourraient vous intéresser</h3>
  <div style="display:flex;">
    <div class="wrapperhomepage" data-controller="favorites">
      <% @suggested_products.each do |product| %>
        <%= render "shared/#{Shop.first.card}", product: product%>
      <%end%>
    </div>
  </div>
</div>
