<% unless user_signed_in? && current_user.admin %>
  <%= button_to "Ajouter au panier", line_items_path(product_id: @product.id), class:"btn btn-success addtocart " %>
<%end%>

<div class="container" data-controller="share, favorites" data-share-url-value= "<%= product_url(@product) %>">

  <div class="mt-5">
    <%= link_to products_path, :class => "btn btn-dark mt-5" do%>
      <span><i class="fa-solid fa-arrow-rotate-left"></i> Retour aux produits</span>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-12 col-lg-6" style="position:relative">

      <%if @product.discount_price_cents != 0%>
        <span style="position:absolute;right:10%;top:5%;border:1px solid red;color:red;padding:4px;background:white;z-index:2;">- <%=(100-((@product.discount_price_cents).to_f / (@product.price_cents).to_f)*100).round(0)%>%</span>
      <%end%>

      <i class="fa-solid fa-heart c4-favorite heart-favorite-product-show <%= Favorite.find_by(user: current_user, product: @product) ? 'fav-red' : 'fav-black' %>" data-action= <%= current_user ? 'click->favorites#fav' : 'click->favorites#redirect' %>  data-favorites-product-id-param="<%= @product.id %>"></i>

      <% if @product.photos.attached? %>
        <%= render "carrousel-product", product: @product %>
      <% else %>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", size: "250x250", alt: "Pas d'image disponible", class: 'd-block mx-auto')  %>
      <% end %>

    </div>


    <div class="col-sm-12 col-lg-6">

      <%= content_tag(:h1, @product.name, data: {
        share_target: "title"
      }) %>


      <% if @product.discount_price_cents != 0 %>
        <p style="text-decoration:line-through;">Prix: <%= humanized_money_with_symbol(@product.price)%></p>
        <p>Prix Promo: <%= humanized_money_with_symbol(@product.discount_price_cents / 100.00)%></p>
      <% else %>
        <p>Prix: <%= humanized_money_with_symbol(@product.price) %></p>
      <%end%>

      <%= content_tag(:p, @product.description, data: {
        share_target: "body"
      }) %>

      <div style="margin:2vw;">
        <%if @product.stock_quantity > 0%>
          <p style="color:green;text-decoration:underline"><strong>En stock</strong></p>
          <p><i>quantité disponible:<%=@product.stock_quantity%></i></p>
        <%else%>
          <p><i>disponible sous XXXXXXXXX semaines</i></p>
          <%# voir :delay_retailer a ajouter a product %>
        <%end%>
      </div>
      <%= button_to "Ajouter au panier", line_items_path(product_id: @product.id), class:"btn btn-success addtocart2" %>



      <%= link_to products_path, :class => "btn btn-dark mt-5", :data => {action: "click->share#share"} do%>
        <span><i class="fa-solid fa-share-nodes"></i> Partager ce produit</span>
      <% end %>
      <%# les éléments ci-dessous n'ont pas grand intérêt %>
      <%#= content_tag(:p, "", class:"result", data: {
        share_target: "result"
      }) %>
    </div>

  </div>


  <div class="row">
  </div>

<%# ADMIN ZONE %>

  <div class="row my-5", style="text-align:center">
    <div class="col">
      <% if current_user && current_user.admin %>
        <%= link_to "Modifier produit", edit_product_path(@product), class: "btn btn-warning mb-3" %>
        <%= link_to "Supprimer le produit", @product, data: { turbo_method: :delete }, class: "btn btn-danger mb-3" %>
      <% end%>
    </div>
  </div>

</div>

<%# CROSS SELLING %>


<div class="producthomecontainer">
  <h2 style="text-align:left;margin-left:10vw;margin-top:10vh;">Les produits suivants pourraient vous intéresser</h3>
  <div style="display:flex;">
    <div class="wrapperhomepage"  style="height:500px" data-controller="favorites">
      <% @products.each do |product| %>
        <%= render "shared/#{Shop.first.card}", product: product%>
      <%end%>
    </div>
  </div>
</div>

  <%# <div class="container"> %>
  <%#if @products.count > 0%>
    <%# <h3 class="ml-4">Les produits suivants pourraient vous intéresser</h3> %>
  <%#end %>
    <%# <div class="row d-flex justify-content-center" data-controller="favorites"> %>
      <%# @products.each do |product| %>
        <%#= render "shared/#{Shop.first.card}", product: product%>
      <%# end %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
