<!DOCTYPE html>
<html>
  <head>
    <title>EShopEasy</title>
    <meta charset="utf-8">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1"> %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <%# Avoid zoom on mobile %>
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.104.2">
    <meta name="theme-color" content="#712cf9">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/navbars-offcanvas/">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <%# Exemple qui permettrait d'utiliser matomo ou google analytics en fonction de l'acceptation des cookies %>
    <%#= render 'layout/google_analytics' if session[cookies_accepted] == true %>
  </head>
    <header>
    <%if Shop.first.bannerpub != "" && Shop.first.bannerpub != nil %>
    <div class="bannerpub">
      <p class="animationpub"><%=Shop.first.bannerpub%></p>
    </div>
    <%end%>
    </header>
    <body class= "d-flex flex-column"
          data-controller="search"
          style="font-family: <%=Shop.first.themefont%>;background: <%=Shop.first.themebgcolor%>;">
      <%= render "shared/navbar" %>
      <%= render "shared/lateralbanner"%>
      <%# Cette div shortcutpay ne doit apparaitre qu'à la mise au panier d'un nouvel item %>
      <%= render "shared/shortcutpay"%>

      <%#= render "shared/categories_and_subcategories"%>
      <%= session[:cookies_accepted] %>
      <%= render "shared/panier"%>
      <%= render "shared/flashes" %>
      <p id="alert"><%= alert %></p>
      <p id="notice"><%= notice %></p>
      <%# PARTIAL LIGNE DU DESSOUS A ACTIVER SI STOCKAGE ET UTILISATION DE COOKIES %>
      <%= yield %>
      <%# CONTROLLEUR LIGNE DU DESSOUS A ACTIVER SI STOCKAGE ET UTILISATION DE COOKIES %>
      <%= turbo_frame_tag :cookies_modal, src: cookies_path if session[:cookies_accepted].nil?%>
    </body>
  <footer class="footer">
    <%= render "shared/footer"%>
  </footer>
</html>
